@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
font-family: 'Playfair Display', serif;    //400,700
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
button {
    font-family: inherit;
}

body {
    font-size: 1.125rem;
    font-family: Georgia;
    line-height: 1.6;
    background-color: #222;
}

h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
}

.grid {
    max-width: 380px;
    margin: 1em auto;
    padding-block: 2em;
}

.grid-item {
    width: 380px;
    height: auto;
    margin-bottom: 1.5em;
}

.card {
    color: #fff;
    border-radius: 5px;
    border: 1px solid #545454;
    background-color: #333;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card-v2 {
    position: relative;
    border-radius: 5px;
    border: 1px solid #545454;
    overflow: hidden;
}
.card-v2::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(0deg, rgb(51, 51, 51), rgba(51, 51, 51, 0.3));
    z-index: 0;
}

.card-v2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.card-v2 .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}

.card-content {
    padding: 1.5em 1.5em 0.5em 1.5em;
}

h2 {
    margin-top: 0;
    text-transform: capitalize;
}

.card-content p {
    color: #9b9b9b;
    font-size: 1.1em;
    line-height: 30px;
}

@media screen and (min-width: 900px) {
    .grid {
        max-width: 800px;
        columns: 2;
    }
}

@media screen and (min-width: 1300px) {
    .grid {
        max-width: 1200px;
        columns: 3;
    }
}

@media screen and (min-width: 1700px) {
    .grid {
        max-width: 1600px;
        columns: 4;
    }
}