@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
font-family: 'Playfair Display', serif;    //400,700
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    max-width: 100%;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
  }
  
  :root {
    --bg-color: #fafafa;
    --text-color: #262626;
    --light-text: #8e8e8e;
    --border-color: #dbdbdb;
    --btn-color: #b3dbff;
  }
  
  body {
      min-height: 100vh;
      background-color: var(--bg-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10%;
  }
  
  .post {
      background-color: #fff;
      width: 470px;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      font-size: 14px;
      color: var(--text-color);
  }
  
  .post-header {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .profile-info {
      display: flex;
      align-items: center;
      gap: 12px;
  }
  
  .profile-img {
      width: 42px;
      height: 42px;
      background: linear-gradient(to top right, orange, purple);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }
  .profile-img img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid #fff;
      box-sizing: content-box;
  }
  
  .profile-info span {
      cursor: pointer;
      font-weight: bold;
  }
  
  .options span {
      font-size: 16px;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }
  
  .post-img {
      width: 100%;
      aspect-ratio: 1;
      cursor: pointer;
  }
  .post-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .post-body {
      padding: 0px 16px;
  }
  
  .post-actions {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      padding: 10px 0px;
  }
  .post-actions span {
      display: flex;
      font-size: 24px;
      cursor: pointer;
  }
  .post-actions span:last-child {
      margin-left: auto;
  }
  
  .post-info {
      margin-bottom: 8px;
      font-weight: bold;
      cursor: pointer;
  }
  
  .post-title {
      margin-bottom: 8px;
  }
  
  .username {
      font-weight: bold;
      cursor: pointer;
  }
  
  .post-comments {
      margin-bottom: 10px;
  }
  .post-comments > span {
      display: block;
      color: var(--light-text);
      margin-bottom: 4px;
      cursor: pointer;
  }
  
  .comment {
      display: flex;
  }
  
  .comment-username {
      font-weight: bold;
      cursor: pointer;
      margin-right: 5px;
  }
  
  .comment span:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      cursor: pointer;
  }
  
  .timestamp {
      display: block;
      margin-bottom: 10px;
      font-size: 10px;
      text-transform: uppercase;
      color: var(--light-text);
  }
  
  .input-box {
      padding: 10px 16px;
      display: flex;
      align-items: center;
      border-top: 1px solid var(--border-color);
  }
  
  .emoji {
      font-size: 24px;
      cursor: pointer;
  }
  
  .input-box input {
      border: none;
      outline: none;
      color: var(--light-text);
      width: 100%;
      margin: 0 12px;
  }
  
  .input-box button {
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--btn-color);
      cursor: pointer;
      font-weight: bold;
      text-transform: capitalize;
      padding: 6px 12px;
      transition: all 0.4s ease;
  }
  .input-box button:hover {
      color: #4690d1;
  }
  
  .fa-heart {
      color: red;
  }
