/* @import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
font-family: 'Playfair Display', serif;    //400,700
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}

html {
    color: var(--body-font-color);
    font-size: 10px;
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

section {
    padding: 3.9rem 0;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    z-index: 1;
}

nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav::before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(0);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 2;
}

.menu-toggle {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
    z-index: 3;
}

.fa-times {
    display: none;
}

.logo {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    padding: 4.4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--main-font-color-dark);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 2;
}

.open .fa-times {
    display: block;
}
.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open nav::before {
    transform: scale(1);
    opacity: 1;
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 0.5s ease;
}
.nav-link:hover {
    color: var(--secondary-font-color);
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../img/the-rosa/the-rosa-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headline {
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
}
.sub-headline {
    color: var(--secondary-font-color);
    font-size: 8.5rem;
    font-weight: 100;
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    line-height: 0.4;
}
.sub-headline::first-letter {
    font-size: 10.3rem;
    text-transform: uppercase;
}

.headline-description {}
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    position: relative;
    width: 100%;
    max-width: 8.4rem;
    height: 0.25rem;
    background-color: #fff;
}
.line-left {}
.line-right {}
.asterisk {}