@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
font-family: 'Playfair Display', serif;    //400,700
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
button {
    font-family: inherit;
}
i {
    cursor: pointer;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 78px;
    height: 100%;
    padding: 6px 14px;
    background-color: #11101d;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 240px;
}

.sidebar input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: #1d1b31;
}
.fa-search {
    position: absolute;
    color: #fff;
    font-size: 22px;
    z-index: 9;
    transition: all 0.5s ease;
}
.fa-search:hover {
    color: #11101d;
    background-color: #fff;
}

.logo {
    width: 100%;
    height: 50px;
    display: flex;
    color: #fff;
    align-items: center;
    font-family: 'Great Vibes', cursive;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.logo i {
    margin-right: 15px;
    font-size: 28px;
}
.logo a {
    color: inherit;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}
.sidebar.active .logo {
    opacity: 1;
    pointer-events: all;
}

.fa-bars {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active .fa-bars {
    left: 90%;
}

.nav-list {
    margin-top: 20px;
}
.nav-list li {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 5px;
    line-height: 50px;
}
.nav-list li a {
    color: #fff;
    display: flex;
    /* align-items: center; */
    text-transform: capitalize;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.nav-list li a:hover {
    color: #11101d;
    background-color: #fff;
}

.links-name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links-name {
    opacity: 1;
    pointer-events: all;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 122px;
    width: 122px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
li:hover .tooltip {
    top: 50%;
    opacity: 1;
    transition: all 0.5s ease;
}
.sidebar.active .tooltip {
    display: none;
}

.nav-list i {
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}

.profile-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.profile {
    position: relative;
    height: 60px;
    padding: 10px 6px;
    background-color: #1d1b31;
    transition: all 0.5s ease;
}
.profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.profile-details img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.name-job {
    margin-left: 10px;
    text-transform: capitalize;
}
.name {
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}
.job {
    font-size: 12px;
}

.sidebar.active .profile-details {
    opacity: 1;
    pointer-events: all;
}
.sidebar.active .profile {
    background-color: transparent;
}

.fa-sign-out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    min-width: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.sidebar.active .fa-sign-out {
    left: 88%;
    background-color: #1d1b31;
}

.home {
    position: absolute;
    left: 78px;
    width: calc(100% - 78px);
    height: 100%;
    transition: all 0.5s ease;
}

.text {
    margin: 12px;
    color: #1d1b31;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.sidebar.active ~ .home {
    left: 240px;
    width: calc(100% - 240px);
}