@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1em;
    list-style: none;
}
a {
    text-decoration: none;
    white-space: nowrap;
}
button {
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: middle;
    user-select: none;
}

nav {
    position: absolute;
    width: 100%;
    padding: 1.5em 0;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 1em;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list li {
    margin-right: 2.5em;
}
.nav-link {
    position: relative;
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: capitalize;
}
.nav-link.active, 
.nav-link:hover {
    color: #f3ba19;
}
.nav-link.active {
    border-bottom: 0.1em solid #f3ba19;
}

.menu {
    position: absolute;
    inset: 1rem 1rem auto auto;
    display: none;
    max-width: 2.4rem;
    font-size: 0px;
    border-radius: 0.5rem;
    transition: all 0.5s;
    z-index: 3;
}
.menu:hover {
    background-color: #e7b11f;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-image: url('../img/pubg-background.jpg');
    background-position: center;
    background-size: cover;
    transform-style: preserve-3d;
    overflow: hidden;
}
.hero::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(1px);
    z-index: 1;
}
.hero .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.hero-content {
    max-width: 450px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.logo {
    margin-bottom: 0.75em;
}
.description {
    margin-bottom: 2em;
    padding: 0 1.2em;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
}
.download {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}
.play-btn, 
.apple-btn {
    max-width: 200px;
    width: 50%;
    aspect-ratio: 8 / 3;
    margin: 0 12px;
    font-size: 0px;
    transition: all 0.5s;
}
.play-btn {
    background: url('../img/icons/googleplay.png') top center no-repeat;
    background-size: contain;
}
.apple-btn {
    background: url('../img/icons/appstore.png') top center no-repeat;
    background-size: contain;
}
.play-btn:hover, 
.apple-btn:hover {
    transform: scale(1.1);
}

.slider {
    margin-bottom: -270px;
    z-index: 2;
}

.slide-img {
    height: 100vh;
    min-height: 600px;
    object-fit: contain;
    object-position: center;
}
.slide:nth-child(2) {
    display: none;
}
.arrows {
    position: absolute;
    inset: auto auto 0 0;
    display: flex;
    z-index: 3;
}
.arrow {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.arrow:hover {
    background-color: #f3ba19;
}

.hero > * {
    width: 50%;
    min-width: fit-content;
}

@media screen and (max-width: 600px) {
    nav {
        top: -100%;
        background-color: #27211f;
    }
    .nav-list {
        flex-direction: column;
    }
    .menu {
        display: block;
    }
    nav.active {
        top: 0;
    }
}
