@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Playfair Display', serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 1em;
    list-style: none;
}
a {
    text-decoration: none;
    white-space: nowrap;
    outline: none;
}

button {
    text-transform: capitalize;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: middle;
    position: absolute;
}

body {
    color: #fff;
    background-color: #000;
}

.contentX {
    height: 1950px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

nav {
    padding: 1em;
    display: flex;
    align-items: center;
}
.logo {
    position: static;
    width: 6%;
    cursor: pointer;
}
ul {
    margin: auto;
}
a {
    color: #fff;
    padding: 0.4em 1em;
    font-size: 1.6rem;
    text-transform: capitalize;
    border: 2px solid transparent;
    border-radius: 1em;
    transition: all 0.4s;
}
a:hover {
    color: #5f9ea0;
}
a:focus-visible {
    border: 2px solid #fff;
}

header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to top, transparent, #000);
    perspective: 5px;
    transform-style: preserve-3d;
}
header::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: url('../img/ac_unity_logo_big.png');
    background-image: url('../img/ac_unity_logo_big.png'), url('../img/arno-jump.png');
    background-repeat: no-repeat;
    background-position: center 70%, 10% center;
    background-size: auto 60%, contain;
    backdrop-filter: blur(20px);
    opacity: 0;
    /* z-index: -9; */
    animation: fade 3s linear 3s backwards;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
}

.logo-big {
    position: static;
    display: block;
    width: 30%;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5rem;
    padding: 0.4em 1em;
    border: 1px solid #fff;
    border-radius: 1em;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Fraunces', serif;
    transition: all 0.4s;
}
button:hover {
    color: #5f9ea0;
    border: 1px solid #5f9ea0;
    background-color: #041413;
}

h1 {
    align-self: center;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
h2 {
    align-self: center;
    font-size: 2.5rem;
    font-family: 'Fraunces', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
cite {
    font-weight: bold;
}
p {
    margin: 0.5em 0;
}

.bgx {
    padding: 2rem 5rem;
}



.contentX {
    position: relative;
}
img:nth-child(11) {
    right: 0;
    bottom: 50%;
}
img:nth-child(12),
img:nth-child(13) {
    left: 0;
    bottom: 10%;
}
img:nth-child(14) {
    left: 40%;
    bottom: 10%;
}
img:nth-child(15) {
    bottom: 0;
    left: 0;
}