@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Playfair Display', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    margin: 0;
    padding: 0;
}

:root {
    --green: #219150;
    --black: #000;
    --white: #fff;
    --light-bg: #eee;
    --border: 0.1em solid var(--black);
    --box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 5rem; */
}

ul {
    list-style: none;
}

a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 1em;
    transition: all 0.4s;
}
a:focus-visible {
    outline: 1px solid rgba(33, 145, 80, 0.6);
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    object-fit: cover;
}

html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
    color: var(--black);
}

.page-max-width {
    max-width: 1800px;
    margin: auto;
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    padding: 1.2rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;
    z-index: 20;
}
.logo {
    margin-right: auto;
    padding: 0.1em 0.2em 0;
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
}
.logo:hover {
    transform: scale(1.2);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.8rem;
    row-gap: 1rem;
}
.navbar a {
    padding: 0.2em 0.4em;
    color: var(--black);
    font-size: 1.2rem;
}

.navbar a:hover {
    color: var(--green);
}

button.menu {
    display: none;
    margin-left: 2rem;
    padding: 0.2em 0.35em;
    color: var(--black);
    border-radius: 0.5em;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 40;
}
button.menu:focus-visible {
    color: var(--green);
    outline: 0.2em solid var(--green);
}
button.menu i {
    color: inherit;
    font-size: 1.8rem;
    transition: all 0.3s;
}
button.menu:hover i {
    color: var(--green);
}

.slider2 {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    inset: 0;
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    /* min-height: 100vh; */
    padding: 2rem 9%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
}
.slide:nth-child(1) {
    background-image: url('../img/home-bg-1.jpg');
}
.slide:nth-child(2) {
    background-image: url('../img/home-bg-2.jpg');
}
.slide:nth-child(3) {
    background-image: url('../img/home-bg-3.jpg');
}
.slide.current {
    opacity: 1;
    visibility: visible;
    transition: all 1.4s;
}

.content {
    width: min(50%, 50rem);
    color: var(--black);
    margin: auto 0 auto auto;
    transform: translateX(-150%);
    transition: all 1s ease-in-out 0.5s;
    opacity: 0;
}
.slide.current .content {
    transform: translateX(0%);
    opacity: 1;
    transition: all 1s;
}
.content.left {
    margin: auto auto auto 0;
    transform: translateX(150%);
}
.content h1 {
    padding-top: 0.5rem;
    font-size: min(4vw, 4rem);
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
}
.content h1 span {
    display: block;
    color: var(--green);
    font-size: min(6vw, 6rem);
}
.content p {
    padding: 1em 0rem;
    font-size: min(2vw, 1.5rem);
    line-height: 1.4;
}

.explore-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5em 1.2em;
    color: var(--black);
    font-size: min(2vw, 1.5rem);
    border: var(--border);
    border-radius: 0.8em;
    background-color: rgba(255, 255, 255, 0.6);
    user-select: none;
}
.explore-btn:hover {
    color: var(--green);
    border-color: var(--green);
}
.explore-btn:focus-visible {
    border-color: var(--green);
}

.slider2 .buttons {
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 0 1%;
}
.slider2 .buttons button {
    padding: 11px 13px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.slider2 .buttons button:hover {
    color: #333;
    background-color: #fff;
}
.slider2 .buttons button i {
    color: inherit;
}

.slider2 .buttons #next {
    float: right;
}


@media screen and (max-width: 768px) {
    button.menu {
        display: inline-block;
    }
    .navbar {
        display: none;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        position: fixed;
        inset: 0 0 auto 0;
        min-height: 100vh;
        background-color: var(--white);
        z-index: 30;
    }
    .navbar a {
        font-size: min(7vw, 3rem);
    }
    .slider2 .slide:nth-child(2) {
        background-position: 75% center;
    }
    .slider2 .slide:nth-child(3) {
        background-position: 15% center;
    }
    .home .slide {
        justify-content: center;
    }
    .content, 
    .content.left {
        margin: auto 15%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .content, 
    .content.left {
        width: 75%;
    }
    .content h1 {
        font-size: 6vw;
    }
    .content h1 span {
        font-size: 10vw;
    }
    .content p {
        font-size: 3.6vw;
    }
    .explore-btn {
        font-size: 3vw;
    }
}






/* .slider2 .slide .content p {
    text-transform: initial;
    line-height: 1.4;
} */
