@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: capitalize;
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px 10%;
    background-image: url('../img/BMW/BMW1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10rem;
}

.btn {
    font-size: 1rem;
    padding: 0.8em 3em;
    color: #fff;
    background-color: #333;
    border-radius: 2em;
}

.content {
    margin-top: 10%;
}
h1 {
    color: #222;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}
h2 {
    margin-top: -1.6rem;
    color: #f00;
    font-size: 6rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}

h3::first-letter, 
p::first-letter {
    text-transform: uppercase;
}

p {
    max-width: 380px;
    color: #555;
}

h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.color-select {
    display: flex;
    margin-top: 2rem;
}
.color-select div {
    width: 50px;
    height: 50px;
    margin-right: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}
#red {
    background-color: #f00;
}
#blue {
    background-color: #00f;
}
#black {
    background-color: #000;
}