@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
}

img {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

body {
    position: relative;
    background: rgb(68,68,68);
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 100%);
}
body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/Ducati/ducati-logo.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    mix-blend-mode: color;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    z-index: 1;
    animation: fade-in 2s linear backwards;
    animation-delay: 1s;
}

.landing-page {
    position: relative;
    display: grid;
    grid-template-columns: auto 1.4fr 0.3fr;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr auto;
    gap: 10%;
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
    padding: 20px 5%;
    z-index: 2;
    transition: opacity 10s;
}
/* .landing-page::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/Ducati/ducati-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mix-blend-mode: color;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    z-index: -1;
} */
.landing-page.fade-in {
    animation: fade-in 2s linear backwards;
}

.info {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
    animation: fade-right 2s linear 1s backwards;
}
@keyframes fade-right {
    0% { 
        transform: translateX(-30%);
        opacity: 0;
    }
    40% {
        opacity: 0.2;
    }
}

h2 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.7;
}

.center {
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    animation: fade-down 2s linear;
}
@keyframes fade-down {
    0% { 
        transform: translateY(-50%);
        opacity: 0;
    }
    40% {
        opacity: 0.2;
    }
}

.hero-img {
    opacity: 1;
    animation: fade-in 2s linear backwards;
    transition: all 1s;
}
.hero-img.rotate {
    animation: rotate 6s linear forwards infinite;
}
@keyframes rotate {
     0% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_00.png'); }
     2% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_01.png'); }
     4% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_02.png'); }
     6% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_03.png'); }
     8% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_04.png'); }
    10% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_05.png'); }
    12% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_06.png'); }
    14% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_07.png'); }
    16% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_08.png'); }
    18% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_09.png'); }
    20% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_10.png'); }
    22% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_11.png'); }
    24% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_12.png'); }
    26% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_13.png'); }
    28% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_14.png'); }
    30% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_15.png'); }
    32% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_16.png'); }
    34% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_17.png'); }
    36% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_18.png'); }
    38% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_19.png'); }
    40% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_20.png'); }
    42% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_21.png'); }
    44% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_22.png'); }
    46% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_23.png'); }
    48% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_24.png'); }
    50% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_25.png'); }
    52% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_26.png'); }
    54% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_27.png'); }
    56% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_28.png'); }
    58% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_29.png'); }
    60% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_30.png'); }
    62% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_31.png'); }
    64% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_32.png'); }
    66% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_33.png'); }
    68% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_34.png'); }
    70% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_35.png'); }
    72% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_36.png'); }
    74% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_37.png'); }
    76% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_38.png'); }
    78% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_39.png'); }
    80% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_40.png'); }
    82% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_41.png'); }
    84% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_42.png'); }
    86% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_43.png'); }
    88% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_44.png'); }
    90% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_45.png'); }
    92% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_46.png'); }
    94% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_47.png'); }
    96% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_00.png'); }
    100% { content: url('../img/Ducati/360/PANV4SP2_TURNTABLE_00.png'); }
}

.info-btn {
    display: inline-block;
    margin: 2rem 0;
    padding: 0.5em 1.6em;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 1em;
    background-color: #f52425;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(0,0,0,1),
    -1px -1px 2px rgba(255, 255, 255, 0.2);
    animation: fade-in 0s linear 3.2s backwards;
}
.info-btn:active {
    transform: scale(0.98);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,1),
    inset -1px -1px 2px rgba(255, 255, 255, 0.4);
}
.info-btn:focus-visible {
    outline: 1px solid #f52425;
}

@keyframes fade-in {
    0% { opacity: 0; }
    40% { opacity: 0.2;}
}

.right {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    animation: fade-left 2s linear 1s backwards;
}

.slide-btn {
    border: 1px solid #fff;
    border-radius: 0.4em;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 1s;
}
.slide-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.slide-btn img {
    transform: rotateY(180deg);
}

@keyframes fade-left {
    0% { 
        transform: translateX(30%);
        opacity: 0;
    }
    40% {
        opacity: 0.2;
    }
}

.logo {
    width: 10rem;
    max-width: 20vw;
    position: absolute;
    inset: auto auto 0 0;
}


.supersport {
    background: rgb(170,235,223);
    background: radial-gradient(circle, rgba(170,235,223,1) 0%, rgba(20,176,148,1) 100%);
}
.supersport h1, 
.supersport a,
.supersport h2 {
    color: #222;
}
.supersport p {
    color: #bbb;
    text-shadow: 1px 1px 1px #000;
    opacity: 1;
}
.supersport .logo img {
    filter: hue-rotate(188deg);
}
.streetfighter {
    background: rgb(242,118,118);
    background: radial-gradient(circle, rgba(242,118,118,1) 0%, rgba(176,20,26,1) 100%);
}
.streetfighter .logo img {
    filter: saturate(0);
}


.fade-out {
    animation: fade-out 2s linear forwards;
}
@keyframes fade-out {
    100% { opacity: 0; }
}

/* .landing-page > * {
    border: 1px solid red;
}
.info {
    border: 1px solid red;
}
.feature {
    border: 1px solid white;
} */
/* .center {
    border: 1px solid greenyellow;
} */