@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: capitalize;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    white-space: nowrap;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: calc(100px - 10%);
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
    padding: 20px 10%;
}

nav {
    align-self: flex-start;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10rem;
}

.btn {
    font-size: 1rem;
    padding: 0.8em 3em;
    color: #fff;
    background-color: #333;
    border-radius: 2em;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.info {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    z-index: 1;
}

h1 {
    color: #222;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}
h2 {
    margin-top: -1.6rem;
    color: #e0342f;
    font-size: 6rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    white-space: nowrap;
}

h3::first-letter, 
p::first-letter {
    text-transform: uppercase;
}

p {
    max-width: 70%;
    color: #555;
}

h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.color-select {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    max-width: 60%;
    margin-top: 2rem;
}
.color {
    width: 3rem;
    height: 3rem;
    /* margin-right: 1.2rem; */
    border-radius: 50%;
    cursor: pointer;
}

.hero {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}
#red {
    background-color: #f00;
    background-image: linear-gradient(-45deg, red, #fff, black);
}
#red2 {
    background-color: #f00;
    background-image: linear-gradient(-45deg, red, #333);
}
#blue {
    background-color: #062577;
    background-image: linear-gradient(-45deg, #062577, #fff, #b02521);
}
#blue2 {
    background-color: #062577;
    background-image: linear-gradient(-45deg, #062577, #fff);
}
#black {
    background-color: #252a28;
    background-image: linear-gradient(-45deg, #fff, black 80%);
}
#black2 {
    background-color: #252a28;
}

@media screen and (max-width: 1300px) {
    .content {
        display: block;
    }
}