@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 2em;
}

a {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 1em;
}
a:hover {
    color: #666;
}
a:focus-visible {
    outline: 1px solid #666;
}

button, i {
    cursor: pointer;
    transition: all 0.5s;
}

img {
    width: 100%;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    color: #7f7f7f;
    font-family: sans-serif;
}

.main-bg {
    background-image: url('../img/bg-main.jpg');
    background-size: cover;
    height: 100%;
}

.banner-slider, 
.slide-item {
    height: 100%;
}

.slider-overlay {
    position: absolute;
    width: 100%;
    bottom: 43px;
    left: 55px;
}
.slider-overlay h2 {
    position: relative;
    margin-bottom: 14px;
    font-size: 22px;
    font-family: 'Abril Fatface', cursive;
}
.slider-overlay h2::before {
    content: '';
    width: 72px;
    height: 2px;
    position: absolute;
    bottom: 0px;
    background-color: #8c7239;
}
.slider-overlay h3 {
    text-transform: capitalize;
}

.top-car-title h1 {
    position: absolute;
    top: 32px;
    width: 100%;
    color: #1a272e;
    font-size: 104px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    letter-spacing: 14px;
}
.top-car-title h2 {
    position: absolute;
    top: 80px;
    width: 100%;
    font-size: 28px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.logo {
    margin: 38px 0 0 38px;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
}

.hamburger-menu-button {
    display: block;
    position: relative;
    width: fit-content;
    aspect-ratio: 1;
    margin-top: 35px;
    padding: 5px;
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    background-color: #8c7239;
    z-index: 100;
}