@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    padding-inline: 1em;
    list-style: none;
}

a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 1em;
    transition: all 0.5s;
}

button, i {
    cursor: pointer;
    transition: all 0.5s;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    color: #7f7f7f;
    overflow-x: hidden;
}

.main-bg {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    min-height: 100vh;
    padding: min(5%, 2em);
    background-image: url('../img/bg-main.jpg');
    background-size: cover;
}

.slider, 
header {
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-container {
    position: relative;
    z-index: 5;
}
.logo {
    padding: 0;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
}

.nav-3d {
    position: absolute;
    inset: 0 0 auto 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
}
.behind {
    display: none;
    z-index: -1;
}

.menu-3d {
    display: block;
    margin: auto;
    padding-block: 2em;
    font-family: 'Playfair Display', serif;
}
.menu-item {
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 2.4rem;
    outline: none;
}

.menu-item-text, 
div span {
    position: relative;
    display: inline-block;
    will-change: transform;
    transform-style: preserve-3d;
    transition: all 0.5s;
    transition-delay: calc(var(--i) * 0.05s);
}

.menu-item div:nth-child(1) span {
    color: rgba(255, 255, 255, 0.8);
    transform-origin: bottom;
}
.menu-item div:nth-child(2) span {
    color: darkred;
    transform-origin: top;
    transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.menu-item:hover div:nth-child(1) span, 
.menu-item:focus div:nth-child(1) span {
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.menu-item:hover div:nth-child(2) span, 
.menu-item:focus div:nth-child(2) span {
    transform: translate3d(0, -100%, 0) rotateX(0deg);
}

.hamburger-menu-button {
    position: relative;
    display: block;
    width: fit-content;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 0px;
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    background-color: #8c7239;
    z-index: 100;
}

.menu-icon {
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -12px;
}
.menu-icon, .menu-icon::before, .menu-icon::after {
    position: absolute;
    width: 24px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s;
}
.menu-icon::before, .menu-icon::after {
    content: '';
    left: 0;
}
.menu-icon::before {
    top: 7px;
}
.menu-icon::after {
    bottom: 7px;
}

.opened {
    transform: rotate(180deg);
    background: transparent;
}
.opened::before {
    transform: translateY(-7px) rotate(45deg);
}
.opened::after {
    transform: translateY(7px) rotate(-45deg);
}

.slider {
    margin: auto;
}

.slide-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.top-car-title {
    grid-row: 1 / 2;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
.year {
    position: absolute;
    width: 100%;
    color: #1a272e;
    color: #243239;
    font-size: min(32vw, 104px);
    letter-spacing: 14px;
}
.top-car-title h2 {
    width: 100%;
    padding: 1em 0;
    font-size: min(6vw, 1.8rem);
    text-transform: uppercase;
    letter-spacing: 10px;
    white-space: nowrap;
    z-index: 2;
}

.slide-item-image {
    position: relative;
    grid-row: 2 / 3;
    margin-block: -10%;
}

.slider-overlay {
    grid-row: 3 / 4;
    margin-bottom: 5%;
}
.cont {
    position: relative;
    display: grid;
    padding-top: 1.2em;
    overflow: hidden;
}
.cont::before {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 72px;
    height: 2px;
    background-color: #8c7239;
}
.slider-overlay h2 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    position: relative;
    font-size: 22px;
    font-family: 'Abril Fatface', cursive;
    transition: all 1.5s;
}

h2.translate-up {
    opacity: 0;
    transform: translateY(-100%);
}
.slider-overlay h2.translate-removed {
    animation: removeTranslate linear 1.2s;
}
@keyframes removeTranslate {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slider-overlay h3 {
    text-transform: capitalize;
}

.slide-buttons {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: column;
}

.slide-button {
    position: relative;
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.4);
    font-size: min(5vw, 1.2rem);
    font-family: 'Abril Fatface', cursive;
    border: none;
    background-color: transparent;
    transition: all 0.5s;
}
.slide-button::before {
    position: absolute;
    top: 50%;
    left: -105%;
    content: '';
    width: 80%;
    height: 5%;
    background-color: currentColor;
}
.current {
    color: #fff;
    transform: scale(1.2);
}
.slide-button:hover, 
.slide-button:focus {
    transform: translateX(-10px);
}
.slide-button.current:hover {
    transform: scale(1.2) translateX(-5px);
}

.slide-left {
    position: absolute;
    inset: 0 auto auto 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s, opacity 0.5s;
}
@keyframes slideleft {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    70%{
        opacity: 0;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.5;
    }
}

.hidden {
    position: absolute;
    transform: translateX(100%);
}

.slide-from-left {
    position: relative;
    animation: slideleft 1s ease-in-out;
}