@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Playfair Display', serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.header {
    position: relative;
    min-height: 100vh;
    background-image: url("../img/parallaxIV/bird-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    z-index: 1;
}

h1 {
    font-size: min(13vw, 5rem);
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}
h1 span {
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0 0.4em;
    font-size: .4em;
    font-weight: initial;
}
h1 span::before, 
h1 span::after {
    position: absolute;
    top: 48%;
    content: '';
    width: 80%;
    height: 5%;
    background-color: #000;
}
h1 span::before {
    left: -80%;
}
h1 span::after {
    right: -80%;
}

.front-bird {
    position: absolute;
    right: 10%;
    bottom: 0%;
    width: 450px;
    width: max(430px, 41%);
    transform: translateY(70%);
    z-index: 3;
}
.back-bird {
    position: absolute;
    transform: translateY(0%);
    filter: blur(10px) brightness(0.2);
}
.back-bird.left {
    top: 10%;
    left: 10%;
    width: 14%;
    width: max(150px, 14%);
    aspect-ratio: 1;
}
.back-bird.right {
    top: 20%;
    right: 10%;
    width: 14%;
    width: max(150px, 14%);
    aspect-ratio: 1;
}




.content {
    /* height: 100vh; */
    padding: 5% 20%;
    color: #888;
    text-align: center;
}
h2 {
    margin-bottom: 1em;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: initial;
    text-transform: capitalize;
}


.clothes-pics {
    padding: 0% 20%;
}
.row {
    display: flex;
    column-gap: 1rem;
    margin: 2rem 0rem;
}
.columns {
    flex: 0.3;
}
.columns img {
    height: 100%;
    object-fit: cover;
}
.columns:nth-child(3) img {
    object-position: right;
}

:root {
    /* colors */
    --background: hsl(210, 7%, 11%);
    --surface-variant: hsl(218, 8%, 28%);
    --secondary-container: hsl(218, 18%, 29%);
    --on-secondary-container: hsl(219, 70%, 91%);
    
    /* border radius */
    --radius-full: 50%;
    --radius-12: 12px;
    }
    
    img, button {
        display: block;
    }
    
    img {
      height: auto;
      user-select: none;
    }
    
    button {
      background: transparent;
      border: 1px solid transparent;
      font: inherit;
      cursor: pointer;
    }
    
    html {
      scroll-behavior: smooth;
    }
    
    body {
      background-color: var(--background);
      font-size: 1.6rem;
      padding-block: 48px;
      overflow-y: overlay;
    }
    
    ::-webkit-scrollbar { 
        width: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 8px;
    }
    
    body:is(:hover, :focus-visible)::-webkit-scrollbar-thumb {
      background-color: var(--surface-variant);
    }
    
    .container {
      padding-inline: 8px;
      display: grid;
      gap: 24px;
    }
    
    .slider {
      --slider-items: 1; /* mandatory for slider */
    
      position: relative;
      width: 100%;
      padding-inline: 16px;
      overflow-x: hidden;
    }
    
    .slider::before,
    .slider::after {
      content: "";
      position: absolute;
      top: 0;
      width: 24px;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(to var(--gr-direction, right),
                          var(--background) 0%, transparent 100%);
    }
    
    .slider::before { 
        left: 0;
     }
    
    .slider::after {
      right: 0;
      --gr-direction: left;
    }
    
    .slider-container {
      position: relative; /* mandatory for slider */
      display: flex;
      justify-content: flex-start;
      transition: transform 250ms ease;
    }
    
    .slider-item {
      min-width: calc(100% / var(--slider-items));
      width: calc(100% / var(--slider-items));
      padding-inline: 4px;
    }
    
    .card {
      background-color: var(--surface-variant);
      border-radius: var(--radius-12);
      overflow: hidden;
    }
    
    .img-holder { 
        aspect-ratio: var(--width) / var(--height);
     }
    
    .img-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .btn-icon {
      width: 40px;
      height: 40px;
      background-color: var(--secondary-container);
      color: var(--on-secondary-container);
      font-size: 2.4rem;
      display: grid;
      place-items: center;
      border-radius: var(--radius-full);
      box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
    }
    
    .slider-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
    
    .slider-control.prev { 
        left: 0; 
    }
    
    .slider-control.next { 
        right: 0;
     }
    
    .slider-control:disabled { 
        display: none; 
    }
    
    
    @media (min-width: 567px) {
      .container {
        max-width: 480px;
        width: 100%;
        margin-inline: auto;
      }
      .card-slider { 
        --slider-items: 2; 
    }
    }
    
    @media (min-width: 768px) {
      .container { 
        max-width: 720px;
     }
      .card-slider { 
        --slider-items: 3;
     }
    }
    
    @media (min-width: 992px) {
      .container { 
        max-width: 960px;
     }
      .card-slider { 
        --slider-items: 4;
     }
    }
    
    @media (min-width: 1200px) {
      .container { max-width: 1150px; }
      .banner-slider { 
        --slider-items: 2;
     }
        .card-slider { 
            --slider-items: 5;
         }
    }
    
    @media (min-width: 1400px) {
      .container { 
        max-width: 1400px;
     }
    }