@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    min-height: 100vh;
    overflow: hidden;
}

body {
    color: #fff;
    background-color: #000;
}

header {
    position: relative;
    height: 100vh;
    min-height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
header::before {
    position: absolute;
    inset: auto auto 0 0;
    content: '';
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, #000, transparent);
    z-index: 9;
}

.images {
    --scroll-value: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.images img {
    position: absolute;
    left: 0;
    height: 130%;
    object-fit: cover;
    transition: all 0.1s;
}

.plan1 {
    z-index: 7;
    transform: translateY(calc(var(--scroll-value) * 0.6 * -1px));
}
.plan2 {
    z-index: 6;
    transform: translateY(calc(var(--scroll-value) * 0.55 * -1px));
}
.plan3 {
    z-index: 5;
    transform: translateY(calc(var(--scroll-value) * 0.45 * -1px));
}
.plan4 {
    z-index: 4;
    transform: translateY(calc(var(--scroll-value) * 0.35 * -1px));
}
.plan5 {
    z-index: 3;
    transform: translateY(calc(var(--scroll-value) * 0.2 * -1px));
}
.plan6 {
    z-index: 2;
    transform: translateY(calc(var(--scroll-value) * 0.1 * -1px));
}
.plan7 {
    z-index: 1;
    transform: translateY(calc(var(--scroll-value) * 0.0 * -1px));
}

h1 {
    position: absolute;
    font-size: 10rem;
    font-family: 'Abril Fatface', cursive;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
    /* text-shadow: 0px 5px 5px rgba(0,0,0,0.6); */
    z-index: 5;
    opacity: 0.6;
}
h1, h2 {
    text-transform: capitalize;
}
h2 {
    margin-bottom: 1rem;
    text-align: center;
}
p {
    margin: 1rem 0;
}

.main {
    padding: 4rem 3rem 2rem;
}
.main article {
    position: relative;
}
.main article p, h2 {
    position: relative;
    z-index: 5;
}

.main article:nth-child(2) {
    position: relative;
    padding-left: 30%;
    background-image: url("../img/parallaxIII/NYcity.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, left;
    background-size: contain, contain;
}
.main article:nth-child(2):after {
    position: absolute;
    inset: 0;
    content: '';
    background-image: linear-gradient(to left, #000, transparent, #000);
    z-index: 1;
}

.main article:last-child {
    position: relative;
    padding-right: 20%;
    background-image: url("../img/parallaxIII/park.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
