@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

header {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}
header::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 25;
}

.box {
    position: relative;
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    padding: 1em 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
    z-index: 30;
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.hamburger-menu {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.bar {
    position: relative;
    width: 1.2rem;
    height: 3px;
    border: none;
    background-color: #fff;
    border-radius: 2px;
}
.bar::before, 
.bar::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.6rem;
    height: 3px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 2px;
}
.bar::before {
    transform: translateY(8px);
}
.bar::after {
    transform: translateY(-8px);
}

h1 {
    position: absolute;
    top: 35%;
    width: 100%;
    color: #fff;
    font-size: 5rem;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.06em;
    z-index: 30;
}

.person {
    position: absolute;
    bottom: 0px;
    left: -70px;
    width: 650px;
    z-index: 40;
}
.mountainI {
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 1500px;
    z-index: 19;
}
.mountainII {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 1100px;
    z-index: 18;
}
.mountainIII {
    position: absolute;
    right: 0;
    bottom: 150px;
    width: 900px;
    z-index: 17;
}
.sky {
    inset: auto 0 250px auto;
    width: 2100px;
}

section {
    position: relative;   
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 3em;
    padding: 3rem;
}
.flex-container::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #151515, transparent);
    z-index: 40;
}

.content, 
.img-box {
    max-width: 500px;
}
.img-box img {
    width: 100%;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}
h3 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 0.75em;
    padding-bottom: 0.5em;
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
}
.border {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #151515, transparent);
    z-index: 20;
}