@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Playfair Display', serif;
font-family: 'Babylonica', cursive;
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

a {
    color: whitesmoke;
    text-transform: capitalize;
    text-decoration: none;
}
i {
    color: whitesmoke;
}

img,
svg {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

body {
    min-height: 100vh;
    font-family: Georgia, serif;
    background-color: #222;
    background:url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#weather-app {
    padding: 20px 70px;
    color: #fff;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
}

.date-container #am-pm {
    margin-left: 20px;
    font-size: 30px;
}

.date-container .date {
    margin: 24px 0;
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}

.current-info .others {
    margin: 10px 0;
    padding: 14px 20px;
    /* display: flex; */
    /* flex-direction: column; */
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: rgba(24, 24, 27, 0.6);
    box-shadow: 2px 2px 2px #0006, -2px -2px 2px #fff5, inset 2px 2px 2px #0006, inset -2px -2px 2px #fff5;
}

.current-info .others .weather-item {
    margin: 6px 0px;
    display: flex;
    justify-content: space-between;
}
.current-info .others .weather-item :first-child {
    text-transform: capitalize;
}

.future-forecast {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(24,24,27,0.8);
    overflow-y: hidden;
}

.future-forecast .today {
    padding: 15px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day {
    padding: 5px 15px;
    text-align: center;
    border-radius: 50px;
    background: #3c3c44;
}

.future-forecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
    flex-wrap: wrap;
}

.weather-forecast .weather-forecast-item {
    margin: 0 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    text-align: center;
    border-radius: 50px;
    background: #3C3C44;
}

.weather-forecast .weather-forecast-item .temp {
    font-size: 12px;
    font-weight: 100;
}

@media only screen and  (max-width:730px) {
    
    .container {
        padding: 20px;
    }
    
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp {
        font-size: 16px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container {
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .current-info .others {
        padding: 12px;
    }

    .current-info .others .weather-item {
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px) {
    .future-forecast {
        justify-content: start;
        align-items: stretch;
        overflow-x: auto;
    }
}
