@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
i, button, li {
    cursor: pointer;
}

body {
    min-height: 100vh;
    color: #fff;
    background-color: #8c6c79;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}
.container > * {
    /* border: 1px solid blueviolet; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2em;
    width: 100%;
    padding-inline: min(5vw, 2em);
}
nav > * {
    /* border: 1px solid wheat; */
}

.logo {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    white-space: nowrap;
}

.menu {
    padding-block: 10px;
    font-size: 2rem;
}

.cart {
    text-align: end;
}
.cart > * {
    margin: 10px 1em;
}
.cart i {
    padding: 0.5em;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50px;
}

.search-bar {
    display: inline-flex;
    width: min-content;
}
.search-bar button {
    border: none;
    border-radius: 50px;
}
.search-bar input {
    width: 0%;
    border: none;
    border-radius: 50px;
    outline: none;
}

.search-bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-inline: 0;
}
.search-bar label {
    font-size: 0px;
}
#search {
    width: 0%;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    transition: all 0.5s;
}
#search:active, 
#search:focus {
    width: 100%;
    border-bottom: 1px solid #f14a60;
}

.product {
    position: relative;
    font-size: min(30vw, 18rem);
    margin-top: 0.1em;
}
.product-img {
    width: max(260px, 100%);
    max-width: 900px;
}
.product-title {
    position: absolute;
    color: #f2d16b;
    font-size: 1em;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -90%);
    z-index: -1;
}

.product-description {
    max-width: 80%;
    margin-block: calc(1em + 4vh) calc(1.5em + 5vh);
    text-align: center;
    letter-spacing: 0.5em;
}
.product-description p {
    font-size: 1.1rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}
p span {
    white-space: nowrap;
}

.bottom {
    display: flex;
}

.order-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;
    padding: 5vw 0;
    /* border: 1px solid red; */
}

.sizes {
    display: flex;
    justify-content: center;
    padding-inline: 5vw;
}
.sizes .label {
    line-height: 2em;
    white-space: nowrap;
}
.sizes ul {
    flex-wrap: wrap;
    row-gap: 10px;
}
.size {
    width: 2em;
    height: 2em;
    margin-left: 10px;
    padding: 0.4em;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.size:hover {
    font-weight: bold;
    color: #8c6c79;
    background-color: #fff;
    transform: scale(1.2);
}

.order {
    margin-top: 0.5em;
    padding: 1em 2em;
    color: #000;
    font-size: 0.7rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    background-color: #f2d16b;
}

.slider {
    flex: 1;
    /* border: 1px solid red; */
}
.bottom-img {
    position: relative;
}
.bottom-img img {
    display: block;
    width: 433px;
    height: 240px;
    margin-inline: auto;
    object-fit: cover;
    transform: translateY(-20%);
}
.prev, .next {
    margin: 0px 20px;
    padding: 10px 15px;
    background: #624652;
}

.sci {
    font-size: 1.5rem;
    margin: 1em 0;
}
.sci ul {
    gap: 1em;
}
.sci-link {
    color: #fff;
}

@media screen and (max-width: 700px) {
    .cart {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 290px) {
    .menu, .logo {
        width: 100%;
        text-align: center;
    }
}
