@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    list-style: none;
}

a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 1em;
    transition: all 0.5s;
}
a:hover {
    transform: scale(1.1);
}

i {
    padding: 0.4em;
    color: #fff;
    transition: all 0.5s;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

button:focus-visible, .sci a:focus-visible {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2),
    inset -4px -4px 4px rgba(255, 255, 255, 0.2);
}
button:active, .sci a:active {
    box-shadow: none;
}

.hidden {
    display: none;
}

.landing-page {
    min-height: 100vh;
    padding: min(2%, 1em);
    display: grid;
    background-image: url('../img/vert-beach_coast_aerial_view_2728394.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    animation: animate 160s linear infinite;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
    z-index: 3;
}
.logo {
    position: relative;
    padding: min(0.4vw, 0.5em) min(0.8vw, 1em);
    color: #fff;
    font-size: min(6vw, 2rem);
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
.menu-button {
    font-size: min(4vw, 1.3rem);
    border-radius: 1em;
    backdrop-filter: blur(15px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    cursor: pointer;
}
.menu-button:hover {
    transform: scale(1.1);
}
.toggle {
    padding: 0.2em 1em;
    color: #fff;
    font-size: inherit;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 1em;
}

main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
    transition-delay: 1s;
}

.glass {
    position: absolute;
    inset: 0 auto 0 0;
    width: 40%;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    transition-delay: 0.5s;
}

h1 {
    color: #fff;
    font-size: 10vw;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
h2 {
    padding: 0.8em;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    inset: 0 auto auto 0;
    width: 100%;
    padding-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 2;
}
.navigation ul {
    flex-direction: column;
    row-gap: 1em;
}
.navigation li {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s;
    transition-delay: 0.2s;
}
.navigation li:hover a {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2), 
    inset -4px -4px 4px rgba(255, 255, 255, 0.2);
}
.navigation a {
    font-size: 1.6rem;
}


.landing-page.active .glass {
    width: 100%;
    backdrop-filter: blur(20px);
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.5);
    transition-delay: 0.5s;
}
.landing-page.active main {
    opacity: 0;
    transform: translateX(-10%);
    transition-delay: 0s;
}
.landing-page.active .navigation {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}
.landing-page.active .navigation li {
    opacity: 1;
    transform: translate(0);
    transition-delay: calc(var(--i) * 0.1s + 1s);
}

footer {
    margin: auto 0 0 auto;
    z-index: 3;
}
footer ul {
    row-gap: 0.5em;
}
.sci a {
    backdrop-filter: blur(15px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    /* ================= box-shadow v.2 ================= */
    /* box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2); */
}


@keyframes animate {
    50% {
        background-position: bottom;
    }
}
