@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    list-style: none;
}

a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 1em;
    transition: all 0.5s;
}
a:hover {
    font-size: 1.3rem;
}

i {
    padding: 0.4em;
    color: #fff;
    transition: all 0.5s;
}

button {
    width: 0.6rem;
    height: 0.6rem;
    color: #fff;
    font-size: 0px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    transform: scale(1.1);
}
.fa {
    font-size: 1.2rem;
    cursor: pointer;
}

body {
    /* min-height: 100vh; */
}

.landing-page {
    min-height: 100vh;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/travel-2/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo {
    position: relative;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    border-radius: 1em;
    transition: all 0.5s;
}
.logo a {
    font-size: inherit;
    text-shadow: 2px 2px 0px #000;
}
.logo img {
    position: absolute;
    inset: -50% auto auto 10%;
    width: 43%;
    z-index: -1;
}

main {
    margin-block: auto;
}

.slider {
    --width: min(80vw, 40em);
    position: relative;
}

.arrows-container {
    position: absolute;
    width: var(--width);
    aspect-ratio: 1;
    /* position: absolute; */
    /* width: 80%; */
    /* height: 80%; */
    /* border-radius: 50%; */
    /* transform: rotate(calc(var(--angle)/-1)); */
    transform: translateX(-70%);
    transition: all 0.5s;
    z-index: 2;
}
.arrows {
    position: absolute;
    inset: 30% 17% auto auto;
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.left {
    transform: rotate(-45deg);
}
.right {
    transform: rotate(132deg);
}

.circle-slider {
    /* --width: min(80vw, 40em); */
    --right: calc(var(--width)/3.3333);
    --top: calc(var(--width)/-2.5);
    --middle: calc(var(--width)/2);
    --bottom: calc(var(--width)/2.5);
    --angle: 0deg;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: var(--width);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255, 0.4);
    transform: translateX(-70%) rotate(var(--angle));
    /* transform: translateX(0%) rotate(var(--angle)); */
    transition: all 0.5s;
}
.circle-slider ul {
    width: 100%;
    height: 100%;
}
.slide {
    position: absolute;
    width: 2%;
    height: 2%;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.slide button {
    width: 100%;
    height: 100%;
}
.slide.active button {
    outline: 1px solid #fff;
    outline-offset: 10px;
}
.slide:nth-child(1) {
    transform: translate3d(var(--right), var(--top), 0) rotate(calc(var(--angle)/-1));
}
.slide:nth-child(2) {
    transform: translate3d(var(--middle), 0, 0) rotate(calc(var(--angle)/-1));
}
.slide:nth-child(3) {
    transform: translate3d(var(--right), var(--bottom), 0) rotate(calc(var(--angle)/-1));
}

figure {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 300%;
    color: #fff;
    font-size: min(4vw, 2rem);
    font-weight: bold;
    opacity: 0.4;
}
figcaption, figcaption span {
    text-transform: capitalize;
    white-space: nowrap;
}
figcaption {
    position: relative;
    font-size: 1em;
    transform: translateX(120%);
}
figcaption span {
    position: relative;
    display: flex;
    padding-left: 2rem;
    font-size: 0.5em;
    font-weight: lighter;
}
figure > img {
    position: absolute;
    width: 100%;
    filter: invert(1);
}
figcaption span img {
    height: 100%;
    position: absolute;
    left: 0;
}

.slide.active figure {
    font-size: min(5vw, 3rem);
    opacity: 0.8;
    transition: all 0.5s;
}



main {
    display: grid;
}
.image-slider {
    --width: min(80vw, 40em);
    counter-reset: images;
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--width);
    height: calc(var(--width) * 2);
    margin: auto 5% auto auto;
    gap: 1rem;
    border-bottom: 1px solid red;
}
/* .image-slider::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: linear-gradient(to top, #000, transparent, #000);
} */
.slider, .image-slider {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.image-container {
    position: relative;
    transform: scale(0.9);
}
.image-container:nth-child(2) {
    transform: scale(1);
}
.image-container:nth-child(2) img {
    opacity: 1;
}
.image-container::before {
    position: absolute;
    inset: auto 0 0 auto;
    counter-increment: images;
    content: counter(images, decimal-leading-zero);
    padding: 0.6em;
    color: #fff;
    font-size: 2vw;
    font-family: 'Abril Fatface', cursive;
    z-index: 2;
}

.image-container img {
    position: relative;
    width: 100%;
    opacity: 0.6;
    border-radius: 3rem;
    z-index: 0;
}