@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    margin: 0 0.2em;
    padding: 0.5em 1em;
    color: #8c8c8e;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    border: 1px solid transparent;
    border-radius: 1em;
    transition: all 0.5s;
}
a.active {
    color: #fff;
    border: 1px solid #fff;
}
a:hover {
    color: #fff;
}
a:focus {
    outline: 1px solid #8c8c8e;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    transform: scale(1.1);
}

img {
    position: absolute;
    display: block;
    width: 100%;
}

body {
    background-color: #23272a;
    padding: 0 max(10px, 5%);
}

header {
	display: block;
	position: sticky;
    inset: 0 0 auto 0;
	width: 100%;
    background-color: rgba(35, 39, 42, 0.6);
	z-index: 10;
}
.inner {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    padding: 0.2em;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Abril Fatface', cursive;
}

.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 2px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 -6px 0 0 white, 0 6px 0 0 white;
    cursor: pointer;
}
.burger:before {
    position: absolute;
    content: '';
    top: -11px;
    left: -10%;
    width: 120%;
    height: 24px;
  }

.donate-link {
    position: relative;
    margin: 0;
    color: #fff;
}

#slider {
	position: relative;
    display: grid;
	width: 100%;
	max-width: 1200px;
    min-height: 100vh;
	margin: 0 auto;
    color: #fff;
    align-items: center;
}

.slider-inner {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto 0;
    display: grid;
    z-index: 1;
    align-items: center;
}

#slider-content {
    margin: auto auto auto 0;
}

.meta {
    position: relative;
    width: fit-content;
    color: #88888a;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
.meta::after {
    position: absolute;
    top: calc(50% - 0.1em);
    left: calc(100% + 0.5em);
    content: '';
    width: 50%;
    height: 0.1em;
    background-color: #88888a;
}

.hero-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-width: 700px;
    justify-self: center;
}

#slide-title {
    margin: 0.6em auto;
    font-size: min(12vw, 7rem);
    text-transform: capitalize;
    line-height: 0.8em;
}
#slide-status {
    margin-top: 0.4em;
    color: tomato;
    font-size: min(4vw, 2rem);
    text-transform: capitalize;
}

#pagination {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: min(40px, 3vw);
    z-index: 3;
}
.page {
    display: block;
    min-width: 10px;
    width: 3vw;
    max-width: 20px;
    aspect-ratio: 1;
    margin: 0 min(20px, 3vw);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.2;
}
.page.active {
    opacity: 1;
    outline: 1px solid #4F5255;
    outline-offset: min(15px, 3vw);
}

.fade-up {
    animation: fade-up 1s ease-out;
}
.fade-down {
    animation: fade-down 1s ease-out;
}

.fade-up-text {
    animation: fade-up-text 1s ease-out;
}
.fade-down-text {
    animation: fade-down-text 1s ease-out;
}

.fade-up-text-slow {
    animation: fade-up-text-slow 1s ease-out;
}
.fade-down-text-slow {
    animation: fade-down-text-slow 1s ease-out;
}

@keyframes fade-down {
    100% {
        transform: translateY(5%);
        opacity: 0;
    }
}
@keyframes fade-up {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }
}
@keyframes fade-up-text {
    0% {
        transform: translateY(12%);
        opacity: 0;
    }
}
@keyframes fade-down-text {
    100% {
        transform: translateY(12%);
        opacity: 0;
    }
}
@keyframes fade-up-text-slow {
    0% {
        transform: translateY(80%);
        opacity: 0;
    }
}
@keyframes fade-down-text-slow {
    100% {
        transform: translateY(80%);
        opacity: 0;
    }
}

.sound {
    position: absolute;
    inset: 10px 10px auto auto;
    color: #fff;
    font-size: 0px;
    background-color: transparent;
    z-index: 200;
}
.fa-music {
    font-size: 1.4rem;
}

@media screen and (max-width: 764px) {
    nav {
        display: none;
    }
    .burger {
        display: inline-block;
    }
    #pagination {
        grid-row: 2 / 3;
        align-self: start;
        justify-self: center;
        flex-direction: row;
    }
}

