@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 1em;
    transition: all 0.5s;
}
a:hover {
    color: rgba(255,255,255,0.6);
    text-shadow: 1px 1px 1px #2fa2a2;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    transform: scale(1.1);
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
    pointer-events: none;
}

p {
    color: #fff;
}

.accent {
    color: #2fa2a2;
    color: #ff4c15;
}
.two-colors {
    color: #00ffff;
}
.two-colors::first-letter {
    color: #fff;
}

header {
    position: relative;
    max-width: 1600px;
    min-height: 100vh;
    background-image: url('../img/Forest/humid_tropical_path-wallpaper-2880x1620.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
header::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: #000;
    opacity: 0.4;
}

.landing-page {
    position: relative;
    min-height: 100vh;
    padding: 0.5em 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    z-index: 2;
}

.header-bar {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
}

.logo {
    position: relative;
    padding-right: 1em;
    color: #fff;
    font-size: min(10vw, 2rem);
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: 1px;
}
.mint {
    position: absolute;
    width: auto;
    height: 215%;
    top: -49%;
    right: -13%;
    z-index: -1;
}

/* ====== Navigation for Desktop ====== */
.nav-container {
    position: relative;
    margin: 0 10%;
    padding-inline: 0.8em;
    border-radius: 1em;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4),
    inset -2px -2px 2px rgba(255, 255, 255, 0.2);
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-link-container {
    position: relative;
}
.nav-link-container:hover a:nth-child(1) {
    color: rgba(255,255,25,0.6);
    text-shadow: 1px 1px 1px rgb(0, 128, 0);
}

/* ====== Navigation for Mobile ====== */
.nav-container.full-screen {
    position: absolute;
    inset: 0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
    z-index: 4;
}
.full-screen nav {
    flex-direction: column;
}
.full-screen a {
    font-size: min(9vw, 2.5rem);
}

.nav-link-container span {
    position: relative;
    display: inline-block;
    will-change: transform;
    transform-style: preserve-3d;
    transition: all 0.5s;
    transition-delay: calc(var(--i) * 0.05s);
}

.nav-link:nth-of-type(2) {
    position: absolute;
    inset: 0;
}
.nav-link:nth-child(1) span {
    transform-origin: bottom;
}
.nav-link:nth-of-type(2) span {
    color: #2fa2a2;
    transform-origin: top;
    transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.nav-container.full-screen .nav-link-container:hover a:nth-of-type(1) span, 
.nav-container.full-screen .nav-link-container:focus a:nth-of-type(1) span {
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.nav-container.full-screen .nav-link-container:hover a:nth-of-type(2) span, 
.nav-container.full-screen .nav-link-container:focus a:nth-of-type(2) span {
    transform: translate3d(0, 0, 0) rotateX(0deg);
}

.flower-left {
    position: absolute;
    width: auto;
    height: 200%;
    top: -10%;
    left: -60%;
    z-index: 1;
    transform: rotatey(180deg) rotateZ(101deg);
}
.hummingbird-left {
    position: absolute;
    width: auto;
    height: 170%;
    top: 70%;
    left: -80%;
    animation: flying-type-one 60s linear infinite;
    animation-delay: 45s;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
}

.vines {
    position: absolute;
    width: 80%;
    height: 382%;
    top: -94%;
    left: 7%;
    z-index: -1;
    transform: rotatex(0deg) rotateZ(-14deg);
}

.flower-right {
    position: absolute;
    width: auto;
    height: 200%;
    top: 15%;
    right: -136%;
    z-index: -1;
    transform: rotateZ(30deg) rotateY(180deg);
}
.hummingbird-right {
    position: absolute;
    width: auto;
    height: 200%;
    top: 95%;
    right: -188%;
    animation: flying-type-two 60s linear infinite;
    animation-delay: 15s;
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}

.hamburger-menu-button {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 0px;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #2fa2a2;
    z-index: 100;
}
.nav-container.full-screen .hamburger-menu-button {
    display: block;
}

.inner-container {
    position: relative;
}
.nav-container.full-screen .flower-left {
    width: 20%;
    height: auto;
    top: 0%;
    left: -3%;
    z-index: 1;
    transform: rotatey(180deg) rotateZ(0deg);
}
.nav-container.full-screen .hummingbird-left {
    width: 30%;
    height: auto;
    top: -45%;
    left: -14%;
    animation: flying-type-one-mobile 60s linear infinite;
    animation-delay: 45s;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
}

.nav-container.full-screen .vines {
    width: 100%;
    height: auto;
    top: auto;
    left: 0%;
    bottom: -12%;
    z-index: 1;
    transform: rotatex(0deg) rotateZ(-14deg);
}

.nav-container.full-screen .flower-right {
    width: 25%;
    height: auto;
    top: auto;
    right: -6%;
    bottom: 0;
    z-index: 2;
    transform: rotateZ(30deg) rotateY(180deg);
}
.nav-container.full-screen .hummingbird-right {
    width: 30%;
    height: auto;
    top: 50%;
    right: -33%;
    animation: flying-type-two-mobile 60s linear infinite;
    animation-delay: 15s;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
}

.hamburger-menu-button.active {
    display: inline-block;
}
.menu-icon {
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -12px;
}
.menu-icon, .menu-icon::before, .menu-icon::after {
    position: absolute;
    width: 24px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s;
}
.menu-icon::before, .menu-icon::after {
    content: '';
    left: 0;
}
.menu-icon::before {
    top: 7px;
}
.menu-icon::after {
    bottom: 7px;
}

.opened {
    transform: rotate(180deg);
    background: transparent;
}
.opened::before {
    transform: translateY(-7px) rotate(45deg);
}
.opened::after {
    transform: translateY(7px) rotate(-45deg);
}

.sound {
    position: relative;
    color: #fff;
    font-size: 0px;
}
.fa-music {
    font-size: 1.5rem;
}
.sound::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
}
.sound.on::before {
    background-color: #1eff45;
    box-shadow:
    0 0 2px #1eff45,
    0 0 5px #1eff45,
    0 0 10px #1eff45,
    0 0 20px #1eff45;
}

.squirrel {
    position: absolute;
    top: -76%;
    left: -5%;
    width: auto;
    height: 100%;
    z-index: 1;
}
.hazelnut {
    position: absolute;
    top: 40%;
    left: -6%;
    width: auto;
    height: 76%;
    z-index: 1;
}

.intro {
    /* position: absolute; */
    /* inset: 0; */
    /* width: 100%; */
    /* position: relative; */
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    /* width: min-content; */
    /* margin: auto 0; */
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
    text-align: center;
}

.hero {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 60%;
    margin: auto;
}

h1, h2 {
    position: relative;
    /* margin: auto; */
    color: transparent;
    -webkit-text-stroke: 3px white;
    /* font-size: min(30vw, 6rem); */
    font-size: min(14vw, 16rem);
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    line-height: 0.5em;
    letter-spacing: 1px;
    filter: drop-shadow(4px 2px 1px rgb(0, 0, 0));
    opacity: 0.6;
    z-index: 2;
}
h2 {
    opacity: 0;
    display: none;
}
h1, h2 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
}
.left {
    /* position: absolute; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.right {
    /* position: absolute; */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.block {
    /* display: block; */
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
