@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 1em;
    transition: all 0.5s;
}
a:hover {
    color: rgba(255,255,255,0.6);
    text-shadow: 1px 1px 1px #2fa2a2;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    transform: scale(1.1);
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

p {
    color: #fff;
}

.accent {
    color: #2fa2a2;
}
.two-colors {
    color: #00ffff;
}
.two-colors::first-letter {
    color: #fff;
}

header {
    position: relative;
    max-width: 1600px;
    min-height: 100vh;
    background-image: url('../img/TheWildLife/elephant-bg.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
header::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: #000;
    opacity: 0.4;
}

.landing-page {
    position: relative;
    min-height: 100vh;
    padding: 0.5em 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    z-index: 2;
}

.header-bar {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
}

.logo {
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: 1px;
}
.mint {
    position: absolute;
    width: auto;
    height: 215%;
    top: -49%;
    right: -40%;
    z-index: -1;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-inline: 0.8em;
    border-radius: 1em;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4),
    inset -2px -2px 2px rgba(255, 255, 255, 0.2);
}

nav .flower-left {
    position: absolute;
    width: auto;
    height: 200%;
    top: -1%;
    left: -10%;
    z-index: 1;
    transform: rotatey(180deg) rotateZ(101deg);
}
.hummingbird-left {
    position: absolute;
    width: auto;
    height: 170%;
    top: 70%;
    left: -16%;
    animation: flying-type-one 60s linear infinite;
    animation-delay: 45s;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
}

nav .vines {
    position: absolute;
    width: 80%;
    height: 382%;
    top: -94%;
    left: 7%;
    z-index: -1;
    transform: rotatex(0deg) rotateZ(-14deg);
}

nav .flower-right {
    position: absolute;
    width: auto;
    height: 200%;
    top: 0;
    right: -6%;
    z-index: -1;
    transform: rotateZ(30deg) rotateY(180deg);
}
.hummingbird-right {
    position: absolute;
    width: auto;
    height: 200%;
    top: 95%;
    right: -20%;
    animation: flying-type-two 60s linear infinite;
    animation-delay: 15s;
    opacity: 0;
    transition: all 1s;
    z-index: -2;
}

.sound {
    position: relative;
    color: #fff;
    font-size: 0px;
}
.fa-music {
    font-size: 1.5rem;
}
.sound::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
}
.sound.on::before {
    background-color: #1eff45;
    box-shadow:
    0 0 5px #1eff45,
    0 0 10px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45;
}

.intro {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: left;
    width: min-content;
    margin: auto 0;
}

h1 {
    position: relative;
    color: #fff;
    font-size: 6rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    line-height: 5.5rem;
    letter-spacing: 1px;
    opacity: 0.6;
    z-index: 2;
}
h1 span {
    display: block;
}
small {
    font-size: 3.5rem;
    line-height: 3rem;
}
.leaves {
    position: absolute;
    top: 11%;
    left: -15%;
    width: auto;
    height: 73%;
    z-index: 3;
}
.butterfly {
    position: absolute;
    top: 20%;
    left: 68%;
    width: 3rem;
    z-index: 3;
}

.intro p {
    position: relative;
    margin-top: 1em;
    padding-top: 10%;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.herbs {
    position: absolute;
    top: -5%;
    right: -30%;
    transform: rotateY(180deg);
    z-index: -2;
}

.nat-geo-logo {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: flex-end;
    width: 60%;
    margin-left: auto;
    margin-bottom: 10%;
}
.leaves2 {
    position: absolute;
    top: 40%;
    left: -9%;
    width: auto;
    height: 90%;
    transform: rotateY(180deg);
    z-index: 1;
}
.earth {
    position: absolute;
    top: 0%;
    right: -20%;
    width: auto;
    height: 100%;
    z-index: -1;
}
.colibri {
    position: absolute;
    top: -70%;
    left: 10%;
    width: auto;
    height: 100%;
    z-index: -1;
}

@keyframes flying-type-one {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(30%) rotateY(180deg) rotateZ(90deg);
    }
    5% {
        opacity: 1;
    }
    10% {
        transform: translateX(0%) translateY(0%) rotateY(180deg) rotateZ(90deg);
    }
    15% {
        opacity: 1;
    }
    17% {
        opacity: 0;
    }
    30% {
        animation-play-state: paused;
        transform: translateX(0%) translateY(0%) rotateY(180deg) rotateZ(90deg);
    }
    100% {
        animation-play-state: running;
    }
}

@keyframes flying-type-two {
    0% {
        opacity: 0;
        transform: translateX(50%) translateY(10%) rotateY(180deg) rotateZ(15deg);
    }
    5% {
        opacity: 1;
    }
    10% {
        transform: translateX(0%) translateY(0%) rotateY(180deg) rotateZ(15deg);
    }
    15% {
        opacity: 1;
    }
    17% {
        opacity: 0;
    }
    30% {
        animation-play-state: paused;
    }
    100% {
        animation-play-state: running;
    }
}