@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.5s;
}

button, i {
    cursor: pointer;
    transition: all 0.5s;
}

img {
    width: 100%;
}
