@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Playfair Display', serif;
*/

:root {
    --clr-primary-300: hsl(333, 80%, 67%);
    --clr-primary-700: hsl(300, 43%, 22%);
    /* --clr-secondary-200: hsl(30, 38%, 92%); */
  
    --clr-neutral-100: hsl(303, 10%, 53%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-300: hsl(0, 0%, 100%);
  
    --ff-primary: "Montserrat", sans-serif;
    /* --ff-accent: "Fraunces", serif; */

    --br: 1rem;
  
    --fs-400: 0.8125rem;
    --fs-500: 0.9625rem;
    --fs-900: 2rem;
}
@media screen and (min-width: 50em) {
    :root {
        --fs-900: 3rem;
    }
}

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

ul[class] {
    display: flex;
    list-style: none;
}
li {
    margin: auto;
}
a {
    color: whitesmoke;
    text-transform: capitalize;
    text-decoration: none;
}
i {
    color: whitesmoke;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}


/* =================================================== Full Screen Navigation ====================================================== */
.full-screen-navigation {
    width: 100%;
    height: 100vh;
    min-height: 30em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.panel-container-fsn {
    display: inline-block;
    flex: 1;
}

.panel-fsn {
    position: relative;
    min-width: 5rem;
    height: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
    overflow: hidden;
}
.panel-fsn::before {
    position: absolute;
    inset: 0 auto auto 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 0;
}
.panel-container-fsn:nth-child(1) .panel-fsn {
    background-image: url('../../../../Sliders/img/civita-di-bagnoregio-town_2500x1623.jpg');
}
.panel-container-fsn:nth-child(2) .panel-fsn {
    background-image: url('../../../../Sliders/img/germany-area-building_1680x1050.jpg');
}
.panel-container-fsn:nth-child(3) .panel-fsn {
    background-image: url('../../../../Sliders/img/Edinburgh.jpg');
}
.panel-container-fsn:nth-child(4) .panel-fsn {
    background-image: url('../../../../Sliders/img/switzerland-river.jpg');
}
.panel-container-fsn:nth-child(5) .panel-fsn {
    background-image: url('../../../../Sliders/img/mountain-in-meteora-greece_1920x1080.jpg');
}

.panel-fsn h3 {
    position: relative;
    font-family: 'Great Vibes', cursive;
    transition: 0.3s;
    z-index: 1;
}

.panel-fsn:hover {
    min-width: 40vw;
    flex: none;
}
.panel-fsn:hover h3 {
    font-size: 2em;
}

@media screen and (max-width: 700px) {
    .full-screen-navigation {
        flex-direction: column;
    }
    .panel-fsn:hover {
        min-height: 40vh;
        flex: none;
    }
}

/* ======================================================== slanted navbar ============================================================= */
body {
    min-height: 100vh;
    text-transform: capitalize;
    background-image: url('../../../../Sliders/img/civita-di-bagnoregio-town_2500x1623.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tilted-navigation {
    background-image: url('../../../../Sliders/img/civita-di-bagnoregio-town_2500x1623.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-tn {
    /* position: relative; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

#logo {
    /* position: absolute; */
    /* inset: 0 auto auto 0; */
    color: whitesmoke;
    font-size: 2rem;
    text-transform: uppercase;
}
.navigation-wrapper {
    position: relative;
    z-index: 1;
}
.navigation-button {
    will-change: transform;
    position: fixed;
    inset: 40px 5% auto auto;
    font-size: 2rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* flex-wrap: wrap; */
    /* background-color: transparent; */
    cursor: pointer;
}
.navigation-button i {
    color: whitesmoke;
}
.navigation-button.activex i {
    color: rgba(0, 0, 0, 0.6);
}

.navigation-menu {
    /* content: ''; */
    position: fixed;
    inset: 0 0 auto auto;
    width: 50%;
    height: 100%;
    background-color: white;
    transform: skewX(0deg) translate(100%, 0);
    transform-origin: top right;
    transition: all 0.2s ease-in;
    z-index: -1;

    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
    min-width: 400px;
}
.navigation-menu.activex {
    transform: skewX(8deg) translate(0%, 0);
}
.navigation-menu ul {
    list-style: none;
    /* position: fixed;
    top: 120px;
    right: 120px;
    min-width: 400px; */
    margin: auto;
    padding-block: 20%;
    transform: skewX(-8deg);
    transform-origin: top left;
    text-align: right;
}
.navigation-menu li {
    /* position: relative; */
    color: hsl(0, 0%, 10%);
    line-height: 64px;
    font-size: 32px;
    transform: translate(0, 0.6em);
    opacity: 0;
    transition: all 0s ease-in 0.3s;
}
.navigation-menu.activex li {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.9s ease-in;
    transition-delay: calc(var(--i) * 0.1s);
}
.navigation-menu a {
    color: hsl(0, 0%, 70%);
    text-transform: uppercase;
    transition: all 0.4s;
}
.navigation-menu a:hover {
    color: hsl(0, 0%, 40%);
}

.hero {
    display: grid;
    height: 100%;
    padding-block: 20%;
}
.hero h1 {
    margin-top: auto;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Abril Fatface', cursive;
}
.hero span {
    display: block;
    font-size: 4rem;
    letter-spacing: 2px;
}
.hero .button {
    align-self: center;
    margin-top: 1em;
    margin-bottom: auto;
}
.hero .button a {
    padding: 0.6em 1.6em;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 1em;
    /* color: #f20c4a; */
}

/* ===================================================================================================================================== */


/* ============================================================ slider ================================================================= */
.slider2 {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.slider2 .slide {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slider2 .slide.current {
    opacity: 1;
}
.slider2 .slide .content {
    position: absolute;
    bottom: 70px;
    left: 70px;
    width: 600px;
    padding: 35px;
    color: #333;
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateX(-150%);
    transition: all 1s ease-in-out 0.5s;
}
.slider2 .slide.slide.current .content {
    transform: translateX(0%);
}
.slider2 .slide .content h2 {
    margin-bottom: 10px;
}
.slider2 .slide .content p {
    text-transform: initial;
    line-height: 1.4;
}
.slider2 .buttons {
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 0 1%;
}
.slider2 .buttons button {
    padding: 6px 13px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.slider2 .buttons button:hover {
    color: #333;
    background-color: #fff;
}
.slider2 .buttons button i {
    color: inherit;
}

.slider2 .buttons #next {
    float: right;
}

.slider2 .slide:nth-child(1) {
    background-image: url('../../../../Sliders/img/civita-di-bagnoregio-town_2500x1623.jpg');
}
.slider2 .slide:nth-child(2) {
    background-image: url('../../../../Sliders/img/germany-area-building_1680x1050.jpg');
}
.slider2 .slide:nth-child(3) {
    background-image: url('../../../../Sliders/img/Edinburgh.jpg');
}
.slider2 .slide:nth-child(4) {
    background-image: url('../../../../Sliders/img/switzerland-river.jpg');
}
.slider2 .slide:nth-child(5) {
    background-image: url('../../../../Sliders/img/mountain-in-meteora-greece_1920x1080.jpg');
}
.slider2 .slide:nth-child(6) {
    background-image: url('../../../../Sliders/img/toscana-italy.jpg');
}
/* ===================================================================================================================================== */



.navbar {
    width: 100%;
    margin-bottom: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}
.logo {
    font-size: 2rem;
}
.link {
    margin: 0px 30px;
}
.active a {
    color: #fc036b;
    font-weight: bold;
    text-decoration: underline;
}

header {
    width: 100vw;
    height: 100vh;
    text-transform: capitalize;
    background-image: url('../../../../Sliders/img/civita-di-bagnoregio-town_2500x1623.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-content {
    display: grid;
    margin-bottom: 150px;
    color: whitesmoke;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
.header-content h1 {
    grid-row: 3 / 4;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 7vmin;
}
.header-content h2 {
    grid-row: 1 / 2;
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.ctn {
    justify-self: center;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #fc036b;
}


@media screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }
    .nav-links {
        position: absolute;
        flex-direction: column;
        height: 100vh;
    }
}

/* Slider */
.image-slider {
    position: relative;
    height: 100%;
}
.slider-container {
    position: absolute;
    inset: 0 auto auto 0;
    width: 400%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.slider-container .slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-container .slide:nth-child(1) {
    background-image: url('../../../../Sliders/img/civita-di-bagnoregio-town_2500x1623.jpg');
}
.slider-container .slide:nth-child(2) {
    background-image: url('../../../../Sliders/img/germany-area-building_1680x1050.jpg');
}
.slider-container .slide:nth-child(3) {
    background-image: url('../../../../Sliders/img/Edinburgh.jpg');
}
.slider-container .slide:nth-child(4) {
    background-image: url('../../../../Sliders/img/switzerland-river.jpg');
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    font-size: 1em;
    background-color: #000;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.left {
    left: 1em;
}
.right {
    right: 1em;
}
.arrow:hover {
    color: #000;
    background-color: #fff;
}
.arrow i {
    color: inherit;
}



/* Utilities */
.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 2em;
}

.split {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 50em) {
    .split {
        flex-direction: row;
    }
}

.a-center {
    align-items: center;
}

/* Global Styles */

main {
    display: grid;
    column-gap: 3rem;
}

@media screen and (min-width: 50em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .intro {
        grid-column: 1 / 2;
        text-align: left;
    }
    .ratings {
        grid-column: 2 / 3;
    }
    .rating:first-of-type {
        margin: 2rem 0;
    }
    .rating:last-of-type {
        margin-inline: auto 0;
    }
    .quotes {
        grid-column: 1 / -1;
    }
}

.lead {
    font-size: var(--fs-500);
}

.ratings {
    color: var(--clr-primary-700);
}
.rating {
    max-width: 25rem;
    margin: 2rem auto;
    padding: 0.5rem;
    color: var(--clr-primary-700);
    font-weight: bold;
    border-radius: var(--br);
    background-color: var(--clr-neutral-200);
}
.rating i {
    color: rgb(230, 154, 12);
}

.quotes {
    --spacer: 2rem;
    gap: var(--spacer);
}
.quotes li {
    height: 100%;
}
.quotes blockquote {
    max-width: 25rem;
    margin: 0 auto;
    padding: var(--spacer);
    color: var(--clr-neutral-200);
    text-align: left;
    border-radius: var(--br);
    background-color: var(--clr-primary-700);
}
blockquote .split {
    display: flex;
}
.quotes img {
    width: 3rem;
    margin-right: var(--spacer);
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.status {
    color: var(--clr-primary-300);
}

.quote {
    margin-top: var(--spacer);
}

@media screen and (min-width: 50em) {
    .split {
        flex-direction: row;
    }
}