@font-face {
    font-family: "monk";
    src:url("/Users/jonko/Desktop/Front-end/Full-Projects/Skyrim/assets/fonts/Monk-Gothic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner section h2 {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.inner section h2::before {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0px 10px;
    border: 1px solid #fff;
}
.inner section h2::after {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0px 10px;
    border: 1px solid #fff;
}
.inner section p {
    margin-bottom: 20px;
}

body {
    font-family: "monk";
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    margin: 10px 0;
    z-index: 70000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
li {
    margin: 10px;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 3px;
    border: 2px solid #fff;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}

#logo a {
    border: none;
    padding: 0;
    border-radius: 50%;
}
#logo img {
    width: 84px;
}

#navigation-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.options {
    width: 64px;
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    transition: padding 3s linear;
}
#options-button {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: transparent;
}
#options-button:hover {
    width: 128px;
    background: rgba(255,255,255,0.5);
}
.options ul {
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.options ul li {
    position: absolute;
    width: 100%;

    display: none;
}
#login {
    /* display: none; */
}
#logout {
    /* display: none; */
}
#logout:hover {
    background: rgba(255, 255, 255, 1);
}
#sound {
    /* color: #fff; */
    /* width: max-content; */
    color: #000;
    padding: 0.8rem 0;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}
#sound button {
    width: 100%;
    border: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: transparent;
}
#sound button i {
    padding: 5px;
}

.start-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background:  url('../assets/img/pngegg74-copy.png'), 
    url('../assets/img/skyrim_mountains__transparent_background__by_sosinizter_d71jn48-copy.png');
    background-position: top, top;
    background-size: cover, cover;
    overflow: hidden;
    /* background-attachment: fixed; */
}

.moon {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 150px;
    height: 150px;
}
.moon img {
    width: 100%;
    height: 100%;
}

.clouds {
    width: 100%;
}
.cloud1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    z-index: 1000;
    animation: clouds 50s linear infinite;
}
.cloud2 {
    position: absolute;
    top: 10px;
    left: 0;
    max-width: 500px;
    z-index: 1000;
    animation: clouds 35s linear infinite;
}
.cloud3 {
    position: absolute;
    top: 25px;
    left: 0;
    max-width: 300px;
    z-index: 1000;
    animation: clouds 80s linear infinite;
}
.cloud4 {
    position: absolute;
    top: 200px;
    left: 0;
    max-width: 300px;
    z-index: 1000;
    animation: clouds 70s linear infinite;
    animation-delay: -20s;
}
.cloud5 {
    position: absolute;
    top: 150px;
    left: 0;
    max-width: 500px;
    z-index: 1000;
    animation: clouds 40s linear infinite;
    animation-delay: -5s;
}
.cloud6 {
    position: absolute;
    top: 75px;
    left: 0;
    max-width: 400px;
    z-index: 1000;
    animation: clouds 30s linear infinite;
    animation-delay: -10s;
}
@keyframes clouds {
    0% {
        /* transform: translateX(-100%) scale(1); */
        left: -650px;
    }
    100% {
        /* transform: translateX(400%) scale(1.5); */
        left: 100%;
    }
}

.starry-night-scene i {
    position: absolute;
    border-radius: 50%;
    background: #fff;
    animation: stars linear infinite;
}
@keyframes stars {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.main-title-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 4000;
    background-position: bottom right, center;
    background-size: contain, cover;
    background-repeat: no-repeat;
    animation: removebg 5s linear 5s backwards;
}
@keyframes removebg {
    0% {
        background-image: url('../assets/img/3823088-copy.jpg'), linear-gradient(0deg, #000, #000);
    }
    /* 40% {
        background-image: url('./norwegian-copy.png'), linear-gradient(0deg, #000, #000);
    } */
    100% {
        background-image: linear-gradient(0deg, transparent, transparent);
    }
}

.main-title {
    width: 50%;
    z-index: 5000;
    animation: zooming 5s linear 2s backwards;
}
@keyframes hidetitle {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes zooming {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
.enter {
    /* visibility: hidden; */
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6000;
}
.enter img {
    min-width: 300px;
    max-width: 350px;
}
.enter a {
    position: absolute;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
}

#page-2 {
    position: relative;
    background: url('../assets/img/bg/games-the-elder-scrolls-v-skyrim-55851b-copy.jpg');
    /* background: url('../assets/img/00test/00tits/Victoria6-Linia-copy.png'); */
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: scale 5s linear;
}
@keyframes scale {
    0%   { transform: scale(1.9)}
    100% { transform: scale(1); }
}

.inner section {
    width: 100%;
    height: 100vh;
}

.inner {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.magic-schools {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* width: 300px; */
    max-width: 300px;
    flex-direction: column;
}
.magic-schools img {
    width: 100%;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.magic-schools h2 {
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(0deg, rgb(166, 59, 32), rgb(234, 142, 28), rgb(166, 59, 32));
    /* background: linear-gradient(0deg, rgb(130 174 185), rgb(228 231 232), rgb(130, 174, 185)); */
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.magic-schools h2:hover {
    transform: scale(1.1);
}

.bestiary {
    /* width: 300px; */
    max-width: 300px;
    position: relative;
    /* top: 0;
    right: 0; */
    margin: 0 20px;
    flex-direction: column;
}
.bestiary img {
    position: relative;
    width: 100%;
    z-index: 2;
}
/* #splash {
    position: absolute;
    width: 120%;
    top: 79px;
    right: 30px;
    opacity: 0.5;
    z-index: 1;
    filter:  brightness(0) invert(1);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) 
        drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2))
    drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3));
} */
.inner .bestiary-title {
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.bestiary-title h2 {
    /* width: 100%; */
    position: relative;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(0deg, rgb(130, 174, 185), rgb(228, 231, 232), rgb(130, 174, 185));
    background: linear-gradient(0deg, rgb(174 144 46), rgb(255, 232, 155), rgb(174, 144, 46));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: 1s;
}
.bestiary-title:hover h2 {
    transform: scale(1.1);
}
.bestiary-title img {
    width: 55px;
    opacity: 0;
    transition: 1s;
}
.bestiary-title:hover img {
    opacity: 1;
}
.ornament-left {
    transform: rotateY(180deg);
}


#splash {
    position: absolute;
    width: 100%;
    /* top: 101px; */
    /* right: 54px; */
    z-index: 1;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) 
        drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2))
    drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3));
    mix-blend-mode: color-burn;
}

#page-3 {
    position: relative;
    background: url('../assets/img/bg/games-the-elder-scrolls-v-skyrim-39367-copy.jpg');
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: scale 5s linear;
}

.locations {
    max-width: 300px;
    flex-direction: column;
}
.locations img {
    width: 100%;
}
.locations h2 {
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(0deg, rgb(174 144 46), rgb(255, 232, 155), rgb(174, 144, 46));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    transition: 1s;
}
.locations h2:hover {
    transform: scale(1.1);
}

.inner .locations-title {
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.locations-title img {
    width: 55px;
    opacity: 0;
    transition: 1s;
}
.locations-title:hover img {
    opacity: 1;
}

#page-4 {
    position: relative;
    background-color: #000;
    background: url('../assets/img/bg/locations-page-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: scale 5s linear;
}

#skyrim-history-section {
    position: absolute;
    left: 40px;
    bottom: 10%;
    width: 50%;
    min-width: 290px;
    height: 70vh;
    font-family: initial;
    text-indent: 5px;
    font-size: 18px;
    color: #fff;
    background: url('../assets/img/border_patterns_03_preview-copyhw.png'), url('../assets/img/border_patterns_03_preview-copyvw.png'), url('../assets/img/border_patterns_03_preview-copyvw.png'), url('../assets/img/border_patterns_03_preview-copyhw.png');
    background-size: 290px, 20px, 20px, 290px;
    background-repeat: repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: top, left, right, bottom;
    padding: 40px 25px;
    border-radius: 20px;
}


#page-6 {
    position: relative;
    background-color: #000;
    background: url('../assets/img/bg/Whiterun-2-copy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: scale 5s linear;
}
.whiterun-page h1 {
    position: absolute;
    font-size: 20vw;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    color: transparent;
}
.title-animated span {
    text-transform: uppercase;
}
.title-animated::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    border-right: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    background-clip: content-box;
    -webkit-background-clip: text;
    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    z-index: 1;
    animation: titleanimation 60s linear infinite;
}

.title-animated::after {
    content: '';
    position: absolute;
    left: 0;
    min-width: 110%;
    min-height: 70%;
    background: url('../assets/img/WhiterunGuardsShield.png') no-repeat;
    background-position: right;
    background-size: contain;
}
@keyframes titleanimation {
    0%,1%,10%,100% {
        width: 0;
    }
    7%,9% {
        width: 100%;
    }
}
#whiterun-history-section {
    min-width: 290px;
    height: 70vh;
    font-family: initial;
    text-indent: 5px;
    font-size: 18px;
    color: #fff;
    background: url('../assets/img/border_patterns_03_preview-copyhw.png'), url('../assets/img/border_patterns_03_preview-copyvw.png'), url('../assets/img/border_patterns_03_preview-copyvw.png'), url('../assets/img/border_patterns_03_preview-copyhw.png');
    background-size: 290px, 20px, 20px, 290px;
    background-repeat: repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: top, left, right, bottom;
    margin: 0px 20px;
    padding: 40px 25px;
    border-radius: 20px;
    display: none;
}


/*  Backgrounds
    background: url('../assets/img/00bg/16007668057_cb66fe80c1_k\ -\ Copy.jpg');
    background: url('../assets/img/00bg/4188200\ -\ Copy.jpg');
    background: url('../assets/img/00bg/734475_video-games-the-elder-scrolls-v-skyrim-wallpapers-hd-desktop_1920x1080_h\ -\ Copy.png');
    background: url('../assets/img/00bg/_21_skyrim-special-edition-wallpaper_Skyrim-4K-Wallpaper-57+-images-\ -\ Copy.jpg');
    background: url('../assets/img/00bg/_21_skyrim-special-edition-wallpaper_Skyrim-Special-Edition-First-PS4-Mods-Already-Available-\ -\ Copy.jpg');
    background: url('../assets/img/00bg/_21_skyrim-special-edition-wallpaper_Skyrim-Special-edition-Wallpaper-1-by-Miraak29-on-DeviantArt\ -\ Copy.png');
    background: url('../assets/img/00bg/_21_skyrim-special-edition-wallpaper_Skyrim-Special-edition-Wallpaper-3-by-Miraak29-on-DeviantArt\ -\ Copy.png');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-20623\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-23030\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-26220\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-27816\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-32361\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-38466\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-41451\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-44164\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-67806\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-8597\ -\ Copy.jpg');
    background: url('../assets/img/00bg/games-the-elder-scrolls-v-skyrim-9032\ -\ Copy.jpg');
*/