@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 1em;
}

a {
    display: inline-block;
    margin: 0 0.2em;
    padding: 0.5em 1em;
    color: #8c8c8e;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    border: 1px solid transparent;
    border-radius: 1em;
    transition: all 0.5s;
}
a.active {
    color: #deb286;
    border: 1px solid #deb286;
}
a:hover {
    color: #deb286;
}
a:focus-visible {
    color: #deb286;
    outline: 1px solid #deb286;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    transform: scale(1.1);
}

img {
    display: block;
    width: 100%;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    padding: 1em 0;
    z-index: 2;
}

.landing-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #222;
    overflow: hidden;
}
.landing-page::before {
    content: '';
    position: absolute;
    inset: 0 0 0 50%;
    border-radius: 0% 0% 0% 100%;
    background-color: #385d64;
    background-image: url('../img/soccer/real-madrid-logo-carbon-copy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.nav {
    position: relative;
}
.nav::before {
    content: '';
    position: absolute;
    inset: 20% auto auto 0;
    height: 60%;
    border-left: 4px solid #deb286;
}
.nav::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 160%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    background: linear-gradient(to left, transparent, rgba(0,0,0,0.4), transparent);
    z-index: -1;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    z-index: 2;
}

.text {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 50%;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

.title {
    color: #385d64;
    font-size: 3.2rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px #222;
}

.image-box {
    width: 35%;
    min-width: 310px;
    margin: auto;
}

.sci a {
    font-size: 0.8rem;
}

@media screen and (max-width: 780px) {
    .landing-page::before {
        inset: 0;
        border-radius: 0px;
    }
    .text {
        width: 80%;
        margin-bottom: 2em;
        transform: translateY(-10%);
        order: 2;
    }
    .image-box {
        transform: translateY(10%);
    }
}

/* ============= v.2 ============= */
.version {
    position: relative;
    padding: 0.2em 0.7em 0.2em 0.4em;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    border-radius: 0.6em;
    background-color: transparent;
}
.version::after {
    position: absolute;
    content: '';
    width: 200%;
    inset: 0 auto 0 -50%;
    background-color: rgba(0,0,0,0.4);
    background: linear-gradient(to left, transparent, rgba(0,0,0,0.4), transparent);
    z-index: -1;
}
button.version:focus-visible {
    outline: 1px solid #deb286;
}

.v2.landing-page::before {
    content: '';
    position: absolute;
    inset: 0 auto 0 -20%;
    width: 120%;
    border-radius: 0;
    background-image: url('../img/soccer/football-stadium.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: leftright 60s linear infinite;
}
.v2.landing-page::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}
@keyframes leftright {
    50% {
        inset: 0 auto 0 0;
    }
}

.v2 .title {
    color: #deb286;
}