@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 2em;
    list-style: none;
    background-color: #d40219;
}

a {
    display: inline-block;
    padding: 0.5em;
    color: #e2e2e2;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.5s;
}
a:hover {
    color: #000;
}

button, i {
    cursor: pointer;
    transition: all 0.5s;
}

img {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #eaf5ff;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    background-color: #d40219;
}
nav > * {
    /* border: 1px solid black; */
}

.logo {
    height: 60px;
    aspect-ratio: 1 / 1;
    margin: 1em;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s;
}
.logo:hover {
    filter: invert(1);
}

main {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}
.left, 
.right {
    width: 50%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    border: 1px solid red;
}