@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

body{
    min-height: 100vh;
    background-color: #232323;
    background-image: linear-gradient(to right, #232323 50%, #454444 50% 100%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: fit-content;
    max-width: 1210px;
    min-height: 100vh;
    margin: auto;
    background-color: #232323;
    background-image: linear-gradient(to right, #232323 50%, #454444 50% 100%);
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 80px;
    margin: 0 2.5%;
}
.navbar > * {
    width: 100%;
    padding: 0 30px;
    margin: auto;
    display: flex;
    flex: 1;
}
.menu {
    justify-content: end;
}
.logo {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    font-size: 23px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-transform: uppercase;
    order: -1;
}
.navbar ul:last-of-type {
    justify-content: end;
    gap: 2em;
}

.search {
    width: 1em;
    transition: all 0.4s;
}
.search:hover {
    width: 100%;
    border-bottom: 1px solid #fff;
}

main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 400px) 320px 80px;
    grid-template-rows: 1fr auto;
    margin-block: auto;
}

.product-img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    50% {
        transform: translate(-50%, -55%);
    }
}
@keyframes float {
    50% {
        transform: translateY(-5%);
    }
}

.left-text, 
.right-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
.left-text {
    margin: 1.8em 0;
}
.right-text {
    transform: translateX(-80px);
}

.left-title {
    color: #454444;
    font-size: min(22vw, 7em);
    font-family: 'Abril Fatface', cursive;
    line-height: 0.9;
    text-shadow: 0px 2px 2px #000;
}
.left-subtitle {
    padding: 15px;
    font-size: 25px;
    letter-spacing: 10px;
}

.right-title {
    display: block;
    font-size: 65px;
    text-transform: uppercase;
}

.discover {
    position: relative;
    margin: 1.5em auto;
    padding: 10px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 100px;
    background: transparent;
    cursor: pointer;
}

.slider {
    grid-column: span 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
    color: #fff;
}
.pages {
    margin-left: auto;
    padding: 0px 20px;
    font-size: 30px;
    font-weight: bold;
}
.pages span::after {
    content: '';
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    border: 1px solid #fff;
    transform: translateY(-0.3em);
}
.arrows {
    padding: 0px 20px;
}
.arrows i {
    padding: 0px 20px;
    font-size: 30px;
}

.media {
    grid-column: 4 / 5;
    align-self: center;
}
.media ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    gap: 2rem;
    padding: 10px;
}
.media ul li {
    color: #232323;
    margin: 24px 0;
}
.sci-link {
    display: inline-block;
    width: fit-content;
    aspect-ratio: 1 / 1;
}
.media i {
    font-size: 2rem;
    width: 1em;
    height: 1em;
}

@media screen and (min-width: 370px) {
    .logo {
        order: 0;
    }
    .menu {
        justify-content: start;
    }    
}

@media screen and (max-width: 1200px) {
    main {
        display: block;
    }
    .right-text {
        transform: none;
    }
    .pages {
        margin-left: unset;
    }
    .media ul {
        flex-direction: row;
    }  
}