@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

body{
    background: red;
    min-height: 100vh;
}

.left, .right {
    position: absolute;
    width: 50%;
    height: 100%;
}
.left {
    background-color: #232323;
}
.right {
    left: 50%;
    background-color: #454444;
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 95%;
    height: 80px;
    margin: 0 2.5%;
    /* padding: 0 30px; */
    z-index: 1;
    /* border: 1px solid rebeccapurple; */
}
.navbar > * {
    padding: 0 30px;
    margin: auto;
    display: flex;
    flex: 1;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    font-size: 23px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-transform: uppercase;
    /* border: 1px solid red; */
}
.navbar div:last-of-type {
    justify-content: end;
    gap: 2em;

}

.product-img {
    position: relative;
    width: 100%;
    max-width: 500px;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -45%);
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    50% {
        transform: translate(-50%, -55%);
    }
}

.left-text, 
.right-text {
    position: absolute;
    text-align: center;
    text-transform: capitalize;
}
.left-text {
    inset: 50% auto auto 22%;
    transform: translate(-50%, -50%);
}

.left-title {
    color: #454444;
    font-size: 135px;
    letter-spacing: -10px;
    line-height: 0.8;
    border: 1px solid red;
}
.left-title::after {
    content: '.';
    color: #454444;
}
.left-subtitle {
    padding: 15px;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    border: 1px solid red;
}