@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
*/

/* ========== Base styles ========== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p::first-letter {
    text-transform: uppercase;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
}

a {
    color: #000;
    text-decoration: none;
}

i {
    cursor: pointer;
}

/* img {
    max-width: 100%;
} */

.container {
    max-width: 90rem;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

section {
    border: 1px solid red;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 1em;
    margin-bottom: 2em;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
}
nav > * {
    margin: auto;
}

.logo {
    font-size: 2rem;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.links li {
    padding: 0.8em;
}

.link {
    padding: 0.8em;
}

.fa-search, .cart {
    font-size: 1.25rem;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.first-row {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-row p {
    margin-right: 2em;
    font-size: min(5vw, 2rem);
    color: #999;
}
/* .last-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-row > * {
    width: 100%;
} */
.last-row {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
    margin: auto;
}

h2 {
    width: 100%;
    font-size: min(12vw, 12rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.pages {
    letter-spacing: 0.5em;
    color: #999;
}
.pages span {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.more {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 2;
    /* border: 1px solid red; */
}
.more a {
    display: inline-block;
    padding: 0.5em;
    color: #000;
    font-size: 1.25rem;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0.5em;
    transition: all 0.4s;
}
.more a:hover {
    color: #fff;
    background-color: #000;
}

.description {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    align-self: center;
    z-index: 2;
}
.description p:first-child {
    max-width: 70%;
    max-width: 12em;
    margin-bottom: 1em;
    font-size: min(5vw, 2rem);
    color: #999;
}
.description p:last-child {
    max-width: 90%;
    max-width: 30em;
    font-size: 1rem;
    line-height: 2;
}
.olive {
    color: #aecd31;
}

.juice {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    transform: scale(1.5);
}
.juice img {
    position: relative;
    min-width: 280px;
    inset: auto auto auto 50%;
    transform: translateX(-50%);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    50% {
        transform: translateY(-5%) translateX(-50%);
    }
}

.leaves {
    position: absolute;
    inset: 0;
    /* grid-column: 1 / -1; */
    /* grid-row: 1 / 2; */
    /* align-self: center; */
    /* justify-self: center; */
    z-index: -1;
    border: 1px solid green;
}
.leaves img:nth-child(n) {
    position: absolute;
}
.leaves img:nth-child(1) {
    inset: 26% 12%;
}
.leaves img:nth-child(2) {
    inset: 10% 24% auto auto;
}
.leaves img:nth-child(3) {
    inset: 60%;
}
.leaves img:nth-child(4) {
    inset: 70% auto auto 24%;
}
.leaves img:nth-child(5) {
    inset: 80%;
}
