@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
font-family: 'Playfair Display', serif;    //400,700
*/

@font-face {
    font-family: "Against";
    src:url("../../../assets/fonts/against-regular.ttf");
}
/* font-family: "Against"; */

/* ========== Base styles ========== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

button {
    border: 1px solid transparent;
    background-color: transparent;
}

i, button, .account, .cart {
    cursor: pointer;
}

a, button, svg {
    transition: all 0.4s ease;
}

button:focus-visible, 
a:focus-visible {
    outline: 2px solid #999;
}

p::first-letter {
    text-transform: uppercase;
}

.container {
    max-width: 90rem;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    font-family: "Against";
    overflow: hidden;
}

h2, .logo {
    font-family: 'Lemon', cursive;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 1em;
    margin-bottom: min(10vw, 6rem, 6em);
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    z-index: 2;
}

.logo {
    font-size: min(8vw, 2rem);
    text-align: center;
    outline: none;
    animation: floatleft 1.5s ease-in-out backwards;
}
.logo:focus-visible {
    transform: scale(1.1);
}

.logo span {
    color: #aecd31;
}

.menu-links {
    order: 1;
    margin: auto;
}
.menu-links a {
    color: #222;
    padding: 0.4em 1em;
    border-radius: 1em;
}
.menu-links a.active {
    color: #aecd31;
    border-bottom: 1px solid #aecd31;
}
.menu-links a:hover {
    color: #aecd31;
}

.search-bar {
    margin-left: auto;
    padding: 0.5em 0.5em 0.2em;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all 0.4s ease;
    cursor: pointer;
}
.search-bar svg {
    width: 1.5rem;
    height: 1.5rem;
}
.search-bar:hover {
    border: 1px solid #aecd31;
}
.search-bar:hover svg {
    color: #aecd31;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.links li {
    padding: 0.8em;
}

.link, .account, .search-bar, .cart {
    animation: floatleft 1s ease-in-out backwards;
    animation-delay: calc(var(--i) * 0.3s);
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    align-items: center;
}
.tagline {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    align-self: baseline;
    font-size: min(4vw, 2rem);
    color: #999;
}
.tagline::first-letter {
    text-transform: uppercase;
}

.pages {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    align-self: baseline;
    margin-left: auto;
    color: #999;
    letter-spacing: 0.5em;
    font-family: 'Abril Fatface', cursive;
}
.pages span {
    font-size: 2rem;
    color: #000;
}

.arrows {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    margin-bottom: auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}
.arrows button {
    padding-inline: 1.25em;
    aspect-ratio: 1 / 1;
    color: #000;
    outline: none;
    border: 1px solid #999;
    border-radius: 50%;
}
.arrows button:hover {
    color: #fff;
    background-color: #000;
}

.tagline, .pages, .arrows {
    animation: floatup 1.5s ease-in-out backwards;
    animation-delay: 2.2s;
    z-index: 2;
}

h2 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    /* color: #95052c; */
    color: transparent;
    -webkit-text-stroke: 2px #fd7300;
    font-size: min(20vw, 18rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    animation: floatup 1.5s ease-in-out backwards;
    animation-delay: 1.5s;
    user-select: none;
}

.more {
    grid-column: 1 / 2;
    align-self: baseline;
    text-align: center;
}
.more a {
    padding: 0.6em 1.4em;
    color: #000;
    font-size: 1.25rem;
    text-transform: capitalize;
    border: 1px solid #000;
    border-radius: 1em;
    background-color: transparent;
    transition: all 0.4s;
}

.more a:hover {
    color: #fff;
    background-color: #444;
}
.more a:focus-visible {
    transform: scale(1.1);
}

.description, .more {
    animation: floatup 1.5s ease-in-out backwards;
    animation-delay: 2.5s;
}

.juice {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 100%;
    margin: auto;
    animation: floatdown 2s ease-in-out backwards;
    animation-delay: 2.5s;
}
.juice img {
    display: block;
    width: 85%;
    margin: auto;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    50% {
        transform: translateY(-10%);
    }
}

.description {
    grid-column: 3 / 4;
    align-self: baseline;
    padding: 3em 0;
}
.description p::first-letter {
    text-transform: uppercase;
}
.description p:first-child {
    margin-bottom: 1em;
    color: #999;
    font-size: min(4vw, 2rem);
}
.description p:nth-child(2) {
    font-size: 1rem;
    line-height: 1.4;
}
.description span {
    color: #aecd31;
}

.leaves {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.front {
    z-index: 1;
}
.back {
    z-index: -1;
}
.leaves img {
    position: absolute;
    max-width: 20%;
    animation: floatdown 1s ease-in-out backwards;
    animation-delay: calc(var(--i) * 0.2s + 3.5s);
}
.front img:nth-child(1) {
    inset: 26% 12%;
    inset: 18% auto auto 4%;
}
.front img:nth-child(2) {
    inset: 5% 24% auto auto;
    inset: 33% 23% auto auto;
}
.front img:nth-child(3) {
    inset: 60%;
    inset: -3% 18% auto auto;
}
.back img:nth-child(1) {
    inset: 70% auto auto 24%;
    inset: 32% 13% auto auto;
}
.back img:nth-child(2) {
    inset: 80%;
    inset: auto auto 20% 20%;
}

@media screen and (min-width: 72rem) {
    .more {
        padding: 14.4% 0;
    }
}

@media screen and (max-width: 72rem) {
    .menu-links {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr 1fr;
    }
    .more {
        grid-row: 4 / 5;
        align-self: flex-start;
        animation-delay: 3.4s;
    }
    .juice {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        max-width: 25rem;
    }
    .description {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        text-align: center;
    }
}

@media screen and (max-width: 42rem) {
    header {
        justify-content: center;
    }
    .logo {
        width: 100%;
    }
    .search-bar {
        margin-left: initial;
    }
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr auto auto;
        padding-bottom: 10%;
    }
    .tagline {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    h2 {
        grid-row: 3 / 4;
    }
    .more {
        grid-row: 6 / 7;
    }
    .juice {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
    .description {
        grid-row: 5 / 6;
    }
}

/* ==============   Animations   ============== */
@keyframes floatleft {
    0% {
        transform: translateX(-70%);
        opacity: 0;
    }
}
@keyframes floatup {
    0% {
        transform: translateY(90%);
        opacity: 0;
    }
}
@keyframes floatdown {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
}
