@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
*/

:root {
    --header-height: 3.5rem;
    /* ========== Colors ========== */
    --first-color: hsl(2, 100%, 61%);
    --first-color-alt: hsl(2, 89%, 53%);
    --title-color: hsl(233, 20%, 15%);
    --text-color: hsl(233, 4%, 35%);
    --body-color: hsl(2, 100%, 97%);
    /* ========== Fonts / Typography ========== */
    --body-font: 'Montserrat', sans-serif;
    --second-font: 'Lemon', cursive;
    --biggest-font-size: 2.25rem;   /*large*/
    --normal-font-size: 0.938rem;
}

/* ========== Responsive typography ========== */
@media  screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3.5rem;   /*large*/
        --normal-font-size: 1rem;
    }
}

/* ========== Base styles ========== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-transform: capitalize;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========== Reusable classes ========== */
.container {
    max-width: 1024px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
}

.main {
    overflow: hidden;
}

/* ========== Header / Navigation ========== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    color: var(--first-color);
    font-family: var(--second-font);
}
.nav__logo::first-letter {
    text-transform: uppercase;
}
.nav__logo span {
    color: var(--title-color);
}
.nav__toggle {
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        inset: -100% auto auto 0;
        width: 100%;
        padding: 3.5rem 0;
        border-radius: 0 0 2rem 2rem;
        background-color: var(--body-color);
        box-shadow: 0px 8px 24px hsla(2, 100%, 35%, 0.2);
        transition: top 0.4s;
    }
}

.show-menu {
    inset: 0 auto auto 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

.nav__link, 
.nav__close {
    color: var(--title-color);
}

.nav__link {
    font-weight: 600;
    transition: color 0.4s;
}
.nav__link:hover {
    color: var(--first-color);
}
.active__link {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    inset: 1rem 1.5rem auto auto;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__img {
    position: absolute;
    inset: -0.75rem auto auto 1.5rem;
    width: 100px;
}

/* ========== Home page ========== */
.home {
    position: relative;
}
.home__container {
    position: relative;
    display: grid;
    row-gap: 1rem;
    height: 100vh;
    padding-top: 8rem;
}
.home__data {}
.home__title {
    margin-bottom: 0.75rem;
    color: var(--title-color);
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    text-transform: capitalize;
}
.home__title span {
    display: block;
    color: var(--first-color);
}
.home__decsription {
    margin-bottom: 1.5rem;
    color: var(--title-color);
    font-weight: 600;
}
.home__decsription::first-letter {
    text-transform: uppercase;
}
.home__button {
    display: inline-block;
    padding: 0.8rem 2rem;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 1.5rem;
    background-color: var(--first-color);
    box-shadow: 0px 8px 20px hsla(2, 100%, 45%, 0.28);
    transition: background-color 0.4s;
}
.home__button:hover {
    background-color: var(--first-color-alt);
}

.home__images {
    position: relative;
    width: 325px;
    height: 378px;
    justify-self: center;
}
.home__images img {
    position: absolute;
}
.home__liquid {
    width: 340px;
    max-width: initial;
    left: -0.5rem;
}
.home__juice-animate {}
.home__juice {
    width: 140px;
    top: 1rem;
    right: 0;
    left: 1rem;
    margin: 0 auto;
    transform: rotate(15deg);
    animation: float 4s ease-in-out infinite;
}
.home__apple1 {
    width: 100px;
    top: 7rem;
    left: 0.65rem;
    transform: rotate(-25deg);
}
.home__apple2 {
    width: 90px;
    right: 1.5rem;
    bottom: 3.5rem;
}

.home__leaf:nth-child(1), 
.home__leaf:nth-child(6) {
    width: 50px;
    transform: rotate(30deg);
}

.home__leaf:nth-child(1) {
    top: -7rem;
    right: 3rem;
}
.home__leaf:nth-child(2) {
    width: 40px;
    top: 1.5rem;
    left: 1.25rem;
    transform: rotate(-60deg);
}
.home__leaf:nth-child(3) {
    width: 20px;
    top: 8rem;
    right: 5rem;
    transform: rotate(-15deg);
}
.home__leaf:nth-child(4) {
    width: 40px;
    left: 3rem;
    bottom: 4rem;
}
.home__leaf:nth-child(5) {
    width: 40px;
    right: 5rem;
    bottom: 0;
    transform: rotate(-30deg);
}
.home__leaf:nth-child(6) {
    left: 3rem;
    bottom: -5rem;
}

.home__shape-small, 
.home__shape-big {
    position: absolute;
    border-radius: 50%;
    background-color: hsl(2, 100%, 88%);
    filter: blur(100px);
}
.home__shape-small {
    width: 200px;
    height: 200px;
    top: -5rem;
    left: -5rem;
}
.home__shape-big {
    width: 250px;
    height: 250px;
    top: 17rem;
    right: -8rem;
}

/* ========== Animations ========== */