@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lemon', cursive;
font-family: 'Playfair Display', serif;    //400,700
*/

@font-face {
    font-family: "Against";
    src:url("../../../assets/fonts/against-regular.ttf");
}
/* font-family: "Against"; */

/* ========== Base styles ========== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

button {
    border: 1px solid transparent;
    background-color: transparent;
}

i, button, .account, .cart {
    cursor: pointer;
}

a, button, svg {
    transition: all 0.4s ease;
}

button:focus-visible, 
a:focus-visible {
    outline: 2px solid #999;
}

p::first-letter {
    text-transform: uppercase;
}

.container {
    max-width: 90rem;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    font-family: "Against";
    overflow: hidden;
}

h2, .logo {
    font-family: 'Lemon', cursive;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 1em;
    margin-bottom: min(10vw, 6rem, 6em);
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    z-index: 2;
}

.logo {
    font-size: min(8vw, 2rem);
    /* font-size: 3rem; */
    text-align: center;
    outline: none;
    animation: floatleft 1.5s ease-in-out backwards;
}
.logo:focus-visible {
    transform: scale(1.1);
}

.logo span {
    color: #aecd31;
}

.menu-links {
    order: 1;
    margin: auto;
}
.menu-links a {
    color: #222;
    padding: 0.4em 1em;
    border-radius: 1em;
}
.menu-links a.active {
    color: #aecd31;
    border-bottom: 1px solid #aecd31;
}
.menu-links a:hover {
    color: #aecd31;
}

.search-bar {
    margin-left: auto;
    padding: 0.5em 0.5em 0.2em;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all 0.4s ease;
    cursor: pointer;
}
.search-bar svg {
    width: 1.5rem;
    height: 1.5rem;
}
.search-bar:hover {
    border: 1px solid #aecd31;
}
.search-bar:hover svg {
    color: #aecd31;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.links li {
    padding: 0.8em;
}

.link, .account, .search-bar, .cart {
    animation: floatleft 1s ease-in-out backwards;
    animation-delay: calc(var(--i) * 0.3s);
}

/* ======================================================================================== */
main {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.first-row {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-row p {
    margin-right: 2em;
    font-size: min(5vw, 2rem);
    color: #999;
}

.last-row {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
    margin: auto;
}

.wrapper {
    min-height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.pages span {
    color: #222;
    font-size: 60px;
}

.leaves {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.leaves img {
    max-width: 100%;
    max-height: 100%;
}
.layer {
    position: relative;
}
.leaves .layer:nth-child(1) {
    top: -100px;
    left: -480px;
}
.leaves .layer:nth-child(2) {
    top: -10px;
    left: -160px;
}
.leaves .layer:nth-child(3) {
    top: -300px;
    left: -160px;
}
.leaves .layer:nth-child(4) {
    top: -10px;
    left: -320px;
}
.leaves .layer:nth-child(5) {
    top: -200px;
    left: -320px;
}
.scene {
    display: block;
}

.arrows button {
    padding: 20px;
    outline: none;
    border: 1px solid #999;
    border-radius: 50%;
}
.arrows button:hover {
    color: #fff;
    background-color: #000;
}
.arrows #prev {
    position: absolute;
    top: 50%;
    left: 100px;
}
.arrows #next {
    position: absolute;
    top: 50%;
    right: 100px;
}

@media screen and (max-width: 58rem) {
    nav ul {
        display: none;
    }
}

.more {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 2;
}
.more a {
    display: inline-block;
    padding: 0.5em;
    color: #000;
    font-size: 1.25rem;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0.5em;
    transition: all 0.4s;
}

 .juice {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    animation: floatdown 2s ease-in-out backwards;
    animation-delay: 2.5s;
}
.juice img {
    max-width: 120%;
    align-self: center;
    transform: translateY(-25%) scale(1.5);
    animation: float 4s ease-in-out infinite;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: -1;
}

.description {
    flex: 0 0 32%;
    flex: 1;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    align-self: center;
    z-index: 2;
}
.description p:first-child {
    max-width: 12em;
    margin-bottom: 1em;
    font-size: min(7vw, 2rem);
    font-size: 30px;
    margin-bottom: 20px;
    color: #999;
}
.description p:last-child {
    max-width: 30em;
    margin: auto;
    font-size: 1rem;
    line-height: 2;
}
.olive {
    color: #aecd31;
}

.front, .back {
    width: 100%;
    height: 100%;
}

/* ======================================================================================== */

