@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
/*
font-family: 'Great Vibes', cursive;
*/

@font-face {
    font-family: "Against";
    src:url("../../../assets/fonts/against-regular.ttf");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    overflow: hidden;
}
.back {
    color: #fff;
    background-color: #222;
    z-index: 1;
}
.front {
    position: relative;
    width: calc(50vw + 1000px);
    margin-left: -1000px;
    color: #222;
    background-color: #eee;
    transform: skew(-30deg);
    z-index: 2;
}

.content-wrap {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.front .content-wrap {
    width: 100vw;
    margin-left: 1000px;
    transform: skew(30deg);
}

.content-body {
    padding: 20% 0;
    text-align: center;
}
.back .content-body {
    grid-column: -2 / -1;
    padding-right: 5%;
}
.front .content-body {
    padding-left: 5%;
}
.content-body p {
    font-size: max(1rem, 1vw);
}

.layer img {
    width: 100%;
    max-width: 40rem;
    justify-self: center;
}
.layer.back img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: translate(0%, -1%) scale(1.04);
}

h1 {
    margin-bottom: 1rem;
    font-size: 5.6vw;
    font-family: 'Against', 'Great Vibes', cursive;
    text-transform: capitalize;
}
.front h1 {
    color: #dfdee1;
    filter: drop-shadow(1px 1px 1px #000);
    /* -webkit-text-stroke: 1px #dfdee1;
    color: transparent; */
}
.back h1 {
    color: #444;
    filter: drop-shadow(-1px -1px 1px #fff);
    -webkit-text-stroke: 1px #444;
    /* color: transparent; */
}

.handle {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 5px;
    height: 200%;
    background-color: #fdab00;
    transform-origin: top;
    transform: rotate(30deg) translateY(-50%);
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .content-wrap {
        grid-template-rows: 1fr 1fr 1fr;
    }
    .back .content-body {
        grid-row: 3 / 4;
        grid-column: -3 / -1;
        padding-top: 7%;
        padding-right: 10%;
    }
    .front .content-body {
        grid-column: 1 / 3;
        padding-bottom: 7%;
    }
    .layer img {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        width: 200%;
    }
    .layer.back img {
        grid-row: 2 / 3;
    }
}
