@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Playfair Display', serif;
*/

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1em;
    list-style: none;
}
a {
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
}
i {
    color: #f5f5f5;
}
button {
    cursor: pointer;
}

/* 6. Improve media defaults */
img {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
button {
    font: inherit;
    cursor: pointer;
}

/* 8. Avoid text overflows */
h1 {
    overflow-wrap: break-word;
    line-height: 1;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.split-screen {
    height: 100%;
    min-height: 100vh;
}
.split-screen-container {
    height: 100%;
    display: flex;
    background-color: #333;
}
.split-screen-container .split {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.split-screen-container .split:hover {
    flex: 2;
}
.split::after {
    position: absolute;
    inset: 0;
    content: '';
    z-index: 1;
}
.split.left::after {
    background-color: rgba(223, 39, 39, 0.4);
    mix-blend-mode: lighten;
}
.split.right::after {
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: lighten;
}
.split-screen-container .split h1 {
    color: inherit;
    font-size: min(8vw, 3rem);
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.split-screen-container .split:hover h1 {
    font-size: min(8vw, 4rem);
}
.split.left {
    color: #000;
    background-color: rgba(223, 39, 39, 0.7);
    background-image: url('../img/basic/design-banner.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 65% auto;
}
.split.right {
    color: #fff;
    background-color: rgba(43, 43, 43, 0.8);
    background-image: url('../img/basic/robot-straight-waving.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50% auto;
}
.split.left h1 {
    font-family: 'Great Vibes', cursive;
}
.split.right h1 {
    font-family: 'Kaushan Script', cursive;
}

.read-more {
    display: inline-block;
    margin-top: max(2rem, 3vh);
    padding: 0.2em 1.4em;
    color: inherit;
    font-size: 1.2rem;
    border: 0.1em solid currentColor;
    border-radius: 1em;
    transition: all 0.4s linear;
    z-index: 2;
}
.read-more:focus-visible {
    transform: scale(1.2);
    outline: 0.1em solid currentColor;
}
.split.left .read-more:hover {
    background-color: rgba(223, 39, 39, 0.6);
    transform: scale(1.1);
}
.split.right .read-more:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

.social-icons {
    position: absolute;
    inset: 0rem 1rem auto auto;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}
.social-icon {
    display: block;
    width: 30px;
    margin: auto;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s;
    transition-delay: calc((3 - var(--i)) * 0.1s);
}
.social-icon:focus-visible {
    transform: scale(1);
    opacity: 1;
}
.social-icon.visible {
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(var(--i) * 0.1s);
}
.share-btn {
    width: 40px;
    font-size: 0px;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 1200px) {
    .split-screen {
        height: auto;
    }
    .split-screen-container {
        display: block;
    }
    .split-screen-container .split {
        height: 50vh;
        min-height: 50vh;
        padding-inline: 20%;
    }
    .split-screen-container .split:hover {
        height: 75vh;
        min-height: 75vh;
    }
    .split.left {
        align-items: flex-end;
        background-position: left bottom;
        background-size: contain;
    }
    .split.right {
        align-items: flex-start;
        background-image: url('../img/basic/robot-waving-lying-down.png');
        background-size: auto 100%;
    }
}
