@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Molle:400i|Open+Sans+Condensed:300,700');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Playfair Display', serif;    //400,700
font-family: 'Molle', cursive;
font-family: 'Babylonica', cursive;
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
a {
  outline: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
button {
  border: 1px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

html, 
body {
  font-family: 'Molle', cursive;
  background-color: #d3d9dd;
}
.max {
  width: fit-content;
}
.landing-page {
  position: relative;
  max-width: 100rem;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 1fr 1fr;
  background-color: #d3d9dd;
}
.landing-page::before {
  grid-row: 1 / span 2;
  grid-column: 1 / -1;
  justify-self: center;
  position: relative;
  content: "";
  width: 100%;
  background-color: #1aa6a7;
  z-index: 0;
}

.nav-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  width: 100%;
  padding: 1rem;
  color: #d3d9dd;
  z-index: 1;
}

.nav-bar ul {
  justify-content: space-between;
}
.nav-bar ul li {
  list-style: none;
  margin: 0 1rem;
}

.account {
  flex-grow: 3;
}
.account span {
  margin-left: 8px;
  text-transform: capitalize;
}

.logo {
  flex-grow: 1.5;
  font-weight: bolder;
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
}

.search {
  flex-grow: 1;
  line-height: 0;
  cursor: pointer;
}
.search form {
  height: 100%;
}
.search svg {
  width: 2rem;
  height: 100%;
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  color: inherit;
}
.bar {
  display: block;
  margin: 0.4rem auto;
  background-color: currentColor;
  width: 80%;
  height: max(2px, 6%);
}

.product-img {
  grid-column: 1 / 3;
  grid-row: 2 / span 2;
  max-width: 70rem;
  height: 100%;
  margin: auto;
  object-fit: contain;
  transform: translate(-25%, 0%);
}

.product-text {
  position: relative;
  grid-column: 2 / -1;
  grid-row: 2 / span 2;
  margin: auto;
  text-align: center;
  line-height: 1;
}

.title {
  padding: 0 0.4em 0 0;
  font-size: min(6rem, 14vw);
  font-family: 'Molle', cursive;
}
.title .first::first-letter {
  text-transform: uppercase;
}
.title .first {
  display: block;
  color: #d3d9dd;
}
.title .second {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: #1aa6a7;
}

.subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(150%);
  font-size: min(10vw, 2.5rem);
  font-weight: bold;
  color: #555;
  letter-spacing: 5px;
  text-transform: capitalize;
  font-family: 'Babylonica', cursive;
}

.tag-line {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0.5em 1em;
  font-size: min(8vw, 2rem);
  color: #d3d9dd;
  text-transform: capitalize;
  z-index: 1;
}

.arrows {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
  margin: auto 0 0 auto;
  padding: 0 0 2em;
}
.arrows ul li {
  margin: 1rem 1rem 1rem 0;
}

.arrows button {
  padding: 0.2em 0.2em 0.43em;
  font-size: 5rem;
  font-family: initial;
  line-height: 0.1;
  opacity: 0.4;
}
.arrows button:hover {
  opacity: 1;
}

.sci {
  grid-column: 1 / 2;
  grid-row: -2 / -1;
  margin: auto;
  padding: 5%;
}
.sci ul {
  justify-content: space-between;
}
.sci ul li {
  color: #000;
  display: inline-block;
  padding: 0 0.5em;
  font-size: min(5vw, 2rem);
  font-weight: 500;
  letter-spacing: 1px;
}

/* ============   Animations   ============ */
.landing-page::before {
  animation: bg 1.4s linear backwards;
}
@keyframes bg {
  0% {
    /* height: 0%; */
    transform: translateY(-100%);
  }
}

.product-img {
  animation: bike 1.2s linear backwards;
  animation-delay: 2.4s;
}
@keyframes bike {
  0% {
    transform: translate(-25%, 10%);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.title .first {
  animation: up 1s linear backwards;
  animation-delay: 3.4s;
}
.title .second {
  animation: down 1s linear backwards;
  animation-delay: 3.4s;
}

@keyframes up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.subtitle {
  animation: subtitle 1s linear backwards;
  animation-delay: 4s;
}
@keyframes subtitle {
  0% {
    transform: translateY(250%);
    opacity: 0;
  }
}

.fade-in-right {
  animation: fade-in-right 0.8s linear backwards;
  animation-delay: 1.4s;
}
.sci {
  animation: fade-in-right 0.8s linear backwards;
  animation-delay: 5s;
}
@keyframes fade-in-right {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}
.arrows {
  animation: fade-in-left 0.8s linear backwards;
  animation-delay: 5s;
}
@keyframes fade-in-left {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
}

.tag-line {
  animation: fade-in 1s ease backwards;
  animation-delay: 4s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

/* ============   Media Queries   ============ */
@media(min-width: 100rem){
  body {
    overflow-x: hidden;
  }
  .landing-page::before, 
  .landing-page::after {
    width: 100vw;
  }
}
@media(max-width: 47rem){
  html, 
  body {
    color: #000;
  }
  .landing-page {
    display: flex;
    flex-direction: column;
  }
  .landing-page::before {
    background-color: transparent;
  }
  .nav-bar {
    color: #000;
  }
  .product-img {
    transform: translate(0);
  }
  .title {
    padding: 0.4em 5%;
    color: #000;
  }
  .subtitle {
    position: relative;
    transform: translateY(0);
  }
  .tag-line {
    padding: 1em 0 0;
    color: #000;
    text-align: center;
  }
  .arrows {
    margin: 0;
  }
  .arrows ul {
    width: 100%;
    justify-content: space-between;
  }
}