@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
i, button, li {
    cursor: pointer;
}
i, button {
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
}

body {
    background-color: #161821;
}

.navigation-container {
    position: absolute;
    width: 100%;
    padding: 10px;
    /* border: 1px solid #fff; */
}

.logo {
    float: left;
    height: 60px;
    padding: 0px 20px;
}
.logo img {
    height: 100%;
}

.menu {}
.menu-left {
    float: left;
    margin: 10px 50px;
}
.menu-right {
    float: right;
}

.menu ul {
    margin: 0px 20px;
    display: flex;
}

.menu a {
    display: block;
    margin: 10px 25px;
    font-weight: 200;
    color: #fff;
    font-size: 12px;
    padding: 10px 25px;
    text-transform: capitalize;
}

#search-bar {
    height: 18px;
    padding: 10px;
    margin: 10px 50px;
    background-color: transparent;
    width: 170px;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    outline: 1px solid transparent;
    text-align: center;
}
#search-bar::placeholder {
    color: #fff;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide-box {
    margin: 80px;
    display: flex;
    justify-content: space-between;
}

.slider-text {
    flex-basis: 400px;
    color: #fff;
}
.slider-text p {
    color: rgb(110, 105, 105);
    line-height: 20px;
}
h6 {
    font-size: 15px;
    word-spacing: 5px;
    line-height: 20px;
    color: #dc721f;
    flex-wrap: wrap;
    text-transform: uppercase;
}
h2 {
    font-size: 50px;
    word-spacing: -2px;
    text-transform: uppercase;
}

.slider-img {
    height: 450px;
}
.slider-img img {
    max-height: 100%;
}

.categories {
    display: flex;
}
.categories select {
    width: 90px;
    height: 40px;
    border: 2px solid #828282;
    background-color: transparent;
    color: #fff;
    outline: none;
    margin-right: 20px;
    margin-left: 0px;
    text-transform: uppercase;
}
.categories option {
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
.categories a {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 2px solid #dc721f;
    color: #dc721f;
    height: 40px;
    width: 90px;
}