@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
    font-family: "Against";
    src:url("../../../assets/fonts/against-regular.ttf");
}
/* font-family: "Against"; */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease-in-out;
}
button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

body {
    background-color: #161821;
}

.max-width {
    max-width: 100rem;
    margin: auto;
}

.navigation-container {
    width: 100%;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 10%;
    min-width: 5rem;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu ul {
    flex: 1;
    margin: 0px 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu ul li {
    margin: 0 1rem;
}
.menu ul a {
    display: inline-block;
    padding: 1em;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
}
.menu ul a:hover {
    color: #dc721f;
}

#search-bar {
    padding: 0.6rem;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    outline: 1px solid transparent;
    background-color: transparent;
}
#search-bar::placeholder {
    color: #fff;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.slider {
    width: 100%;
    display: flex;
    will-change: transform;
    transition: transform 1s ease-in;
}

.slide-box {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider-text {
    flex-basis: 30rem;
    margin: 3rem auto 0;
    color: #fff;
}
.slider-text p {
    color: #6e6969;
}
h6 {
    color: #dc721f;
    font-size: 1rem;
    word-spacing: 0.5em;
    letter-spacing: 0.6em;
    text-transform: uppercase;
}
h2 {
    margin: 0.4em 0;
    padding: 0.4em 0;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Against";
}
h2.pre {
    text-transform: initial;
}
h2 span {
    display: block;
}

.slider-img {
    flex-basis: 45rem;
    margin: 5% auto auto;
}

.categories {
    display: flex;
    margin-top: 1rem;
}
.categories select {
    margin-right: 20px;
    padding: 0 1em;
    color: #fff;
    text-transform: uppercase;
    outline: 1px solid transparent;
    border: 2px solid #828282;
    background-color: transparent;
}
.categories option {
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
.categories a {
    padding: 0.4em 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc721f;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid #dc721f;
}

.colors {
    margin-left: auto;
    align-self: center;
}
.colors button {
    font-size: 0px;
    margin: 0.2rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    opacity: 0.6;
    transition: opacity 0.4s ease;
}
.colors button:hover {
    opacity: 1;
}
.colors.academy button:nth-child(1) {
background-color: #c0f200;
}
.colors.academy button:nth-child(2) {
    background-color: #ffdf36;
}
.colors.academy button:nth-child(3) {
    background-color: #c71526;
}

.colors.techknit button {
    border: 1px solid #fff;
}
.colors.techknit button:nth-child(1) {
    background-color: #292a2c;
}
.colors.techknit button:nth-child(2) {
    background-color: #20263f;
}

.control {
    left: 1%;
    bottom: 1%;
    width: 98%;
    position: fixed;
}
.control .max-width {
    display: flex;
    justify-content: space-between;
}
.control button {
    color: #fff;
    font-size: 3rem;
    padding: 0em 0.52em 0.2em;
    font-family: inherit;
    border: 1px solid;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.control button:hover {
    background-color: #dc721f;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4), 
    inset -2px -2px 2px rgba(255, 255, 255, 0.2);
}