@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
a {
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
}
i, button, li {
    cursor: pointer;
}
button {
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease;
}
button:focus-visible {
    border-color: var(--main-color);
}

:root {
    --bg-color: #101113;
    --text-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 6rem;
    --p-font: 1rem;
}

#headphones-v1 {
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
    background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%, #1d2631 100%);
}

header {
    max-width: 110rem;
    margin: auto;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 0.5s ease;
    z-index: 2;
}

.logo {
    border-radius: 50%;
}
.logo:focus {
    outline: 1px solid var(--main-color);
    outline-offset: 8px;
}
.logo-ring {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.logo-ring:nth-child(1) {
    border-top: 3px solid var(--main-color);
    animation: loaderv321 2s linear infinite;
}
@keyframes loaderv321 {
    0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
    100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
.logo-ring:nth-child(2) {
    border-right: 3px solid var(--other-color);
    animation: loaderv322 2s linear infinite;
}
@keyframes loaderv322 {
    0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
    100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
.logo-ring:nth-child(3) {
    border-bottom: 3px solid var(--main-color);
    animation: loaderv323 2s linear infinite;
}
@keyframes loaderv323 {
    0% { transform: rotateX(35deg) rotateY(65deg) rotateZ(0deg);}
    100% { transform: rotateX(35deg) rotateY(65deg) rotateZ(360deg);}
}
.logo-ring:nth-child(4) {
    position: relative;
    border-left: 3px solid var(--other-color);
    animation: loaderv324 2s linear infinite;
}
@keyframes loaderv324 {
    0% { transform: rotateX(50deg) rotateY(150deg) rotateZ(0deg);}
    100% { transform: rotateX(50deg) rotateY(150deg) rotateZ(360deg);}
}
.logo:focus .logo-ring, 
.logo:hover .logo-ring {
    animation-duration: 1s;
}

nav ul {
    flex-wrap: wrap;
}
nav a {
    display: inline-block;
    padding: 0.4em 1em;
    color: var(--other-color);
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 1em;
    transition: all 0.5s ease;
}
nav li {
    margin: 0 0.6rem;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}
nav li:hover {
    border-bottom: 1px solid var(--main-color);
}
nav li:hover a {
    color: var(--main-color);
    transform: translateY(-5px);
}
nav a:focus-visible {
    border-color: var(--main-color);
}
nav a.active {
    color: var(--main-color);
}

.header-icons button {
    padding: 0.6rem 0.68rem;
    border-radius: 50%;
    border: 1px solid transparent;
}
.header-icons button:hover {
    transform: scale(1.2);
}
.header-icons button:focus-visible {
    border-color: var(--main-color);
}
.header-icons button svg {
    width: 2rem;
    height: 2rem;
    color: #fff;
    transition: all 0.5s ease;
}
.header-icons button:hover svg {
    color: var(--main-color);
}

main {
    position: relative;
    max-width: 110rem;
    margin: auto;
    padding: 3%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    overflow-x: hidden;
}

.product-img-box {
    margin-right: 5%;
}
#product-img {
    animation: bounce 6s ease-in-out infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(-3%);
    }
    50% {
        transform: translateY(3%);
    }
}

