@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Playfair Display', serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    transition: all 0.4s ease;
}
svg, button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

button:focus-visible, 
a:focus-visible {
    outline: 1px solid #888;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1500px;
    min-height: 100vh;
    margin: auto;
    padding: 0 3%;
}

.stripes {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
    display: flex;
    column-gap: 10px;
    z-index: 1;
}
.stripe-one,
.stripe-two {
    height: 100%;
    animation: fadeindown 1s ease-in-out backwards;
}
.stripe-one {
    width: 15px;
    background-color: #ff3131;
    animation-delay: 2s;
}
.stripe-two {
    width: 25px;
    background-color: #183d79;
    animation-delay: 3s;
}

nav {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5%;
    z-index: 3;
}
nav.visible {
    background-color: #fff;
}

#nav-links {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
nav.visible #nav-links {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    row-gap: 1em;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
}
nav li {
    display: inline-block;
    margin: 0.5rem 2rem;
}
nav a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    color: #111;
    font-size: 1.2rem;
    text-transform: capitalize;
}
nav.visible a {
    font-size: 2rem;
}
nav li a::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ff3131;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}
nav li a[aria-current="page"]::after, 
nav li a:hover::after {
    width: 100%;
}

.logo {
    align-self: baseline;
    margin-right: auto;
    z-index: 2;
}
.logo a {
    display: inline-block;
    padding: 0.3em 0.6em;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.logo a:hover {
    transform: scale(1.1);
}

.search {
    align-self: baseline;
    position: relative;
    padding: 0.4em;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all 0.4s ease;
}
.search input {
    width: 0px;
    outline: none;
    border: none;
}
.search:focus-within, 
.search:hover {
    border-color: #ff3131;
}
.search:hover svg {
    color: #ff3131;
}

.menu-btn {
    align-self: baseline;
    margin-right: 1rem;
}
.menu-btn:hover {
    color: #ff3131;
    transform: scale(1.2);
}

.logo, 
#nav-links a, 
.search, 
.menu-btn {
    animation: fadeinright 0.5s ease-in-out backwards;
    animation-delay: calc(0.1s * var(--i));
}

.hero-img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    min-width: 300px;
    z-index: 2;
}
.hero-img img {
    animation: fadeindown 1s ease-in-out backwards;
    animation-delay: 4s;
}

.info {
    max-width: 600px;
    margin-right: auto;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: flex-end;
    padding-bottom: 12%;
}

.title {
    margin: max(8%, 2rem) 0;
    display: inline-flex;
    flex-direction: column-reverse;
    animation: fadeinup 0.5s ease-in-out backwards;
    animation-delay: 1.2s;
}
h1 {
    font-size: min(9vw, 9rem);
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    line-height: 0.8;
}
h2 {
    color: #808080;
    font-size: min(3vw, 2.6rem);
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.buy {
    text-align: center;
    animation: fadeinup2 0.5s ease-in-out backwards;
    animation-delay: 1.6s;
}
.buy a {
    display: inline-block;
    padding: 0.5em 1.2em;
    color: #183d79;
    font-size: min(1.6vw, 1.2rem);
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 1em;
    background: linear-gradient(to right, #183d79,transparent, transparent, #183d79);
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.6), 
    inset -3px -3px 2px 0px rgba(0, 0, 0, 0.02), 
        -1px -1px 3px 0 rgba(255, 255, 255, 0.6), 
        inset 2px 2px 1px 0px rgba(0, 0, 0, 0.6), 
        inset -2px -2px 3px 0 rgba(255, 255, 255, 0.6);
}
.buy a:focus-visible {
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.6), 
        inset -3px -3px 2px 0px rgba(0, 0, 0, 0), 
        -1px -1px 3px 0 rgba(255, 255, 255, 0.6), 
        inset 2px 2px 1px 0px rgba(0, 0, 0, 0), 
        inset -2px -2px 3px 0 rgb(255, 255, 255);
}
.buy a:hover {
    color: #fff;
    background: #183d79;
}
.buy a:active {
    color: #183d79;
    background: #fff;
}

.year {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    padding: 0 0 5% 5%;
    color: #808080;
    font-size: 1.2rem;
    font-weight: bold;
}

.sci {
    grid-column: -2 / -1;
    grid-row: 2 / 3;
    margin: auto 0 5% auto;
}
.sci ul {
    flex-direction: column;
    row-gap: 0.5rem;
    animation: fadeinup 1s ease-in-out backwards;
    animation-delay: 4.6s;
}
.sci-link {
    display: inline-block;
    height: 30px;
}

a.facebook:hover svg {
    fill: #3b5998;
}
a.instagram:hover svg {
    fill: #bd081c;
}
a.twitter:hover svg {
    fill: #55acee;
}


@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    #nav-links {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
    .info {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    h1 {
        font-size: 15vw;
    }
    h2 {
        font-size: 4vw;
    }
    .buy a {
        font-size: 3vw;
    }
    .buy a:hover {
        background-color: #fff;
    }
    .stripe-one, .stripe-two {
        height: 200%;
    }
    .stripe-one {
        background: linear-gradient(to bottom, #ff3131, transparent);
    }
    .stripe-two {
        background: linear-gradient(to bottom, #183d79, transparent);
    }
}

/* ANIMATIONS */
@keyframes fadeinright {
    0% {
        transform: translateX(-40%);
        opacity: 0;
    }
}

@keyframes fadeinup {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
}
@keyframes fadeinup2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes fadeindown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Clock v.1 */
.clock-container {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.3);
}
.clock {
    width: 350px;
    height: 350px;
    border: 4px solid transparent;
    border-radius: 50%;
    background-image: url("../img/clock.png");
    background-size: cover;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.2), 
        inset -3px -3px 4px 0px rgba(0, 0, 0, 0.02), 
        -1px -1px 3px 0 rgba(255, 255, 255, 0.075), 
        inset 3px 3px 6px 0px rgba(0, 0, 0, 0.2), 
        inset -2px -2px 3px 0 rgba(255, 255, 255, 0.07);
}
.clock::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
}
.hours,
.minutes,
.seconds {
    position: absolute;
}
.hours, .hour {
    width: 180px;
    height: 180px;
}
.minutes, .minute {
    width: 220px;
    height: 220px;
}
.seconds, .second {
    width: 240px;
    height: 240px;
}
.hour,
.minute,
.second {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hour::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 90px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 2;
}
.minute::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 110px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 3;
}
.second::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 140px;
    background: #ff105e;
    border-radius: 6px 6px 0 0;
    z-index: 4;
}

.clock-box .clock::before {
    background: #808080;
}
.clock-box .second::before {
    background: #008eff;
}
.clock-box .minute::before {
    background: #808080;
}
.clock-box .hour::before {
    background: #808080;
}

/* Clock v.2 */
#clockv2 {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    top: 10%;
    right: 15%;
    transform: scale(0.5);
}

.circle2 {
    position: absolute;
    width: 76%;
    height: 76%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 3px 3px 4px 3px rgb(119, 119, 119),
    inset -3px -3px 3px 3px rgba(255, 255, 255, 0.85);
}
.circle3 {
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 3px 3px 4px 3px rgb(119, 119, 119),
    -3px -3px 3px 3px rgba(255, 255, 255, 0.85);
}
.clock-face {
    position: absolute;
    width: 112%;
    height: 112%;
    background-image: url('../img/clock.png');
    background-size: cover;
}

.clock-hands {
    position: absolute;
}
.clock-hands::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f00;
    z-index: 4;
}

.hh, .mm, .ss {
    position: absolute;
    display: flex;
    justify-content: center;
}
.hh {
    height: 200px;
    z-index: 2;
}
.mm {
    height: 320px;
}
.ss {
    height: 370px;
    z-index: 3;
}
.hh::after, 
.mm::after, 
.ss::after {
    position: absolute;
    content: '';
    height: 50%;
    border-radius: 20px;
    background-color: rgb(213, 213, 213);
}
.hh::after {
    width: 6px;
}
.mm::after {
    width: 5px;
}
.ss::after {
    width: 3px;
    height: 59%;
    background-color: #f00;
}

#clockv2 p {
    position: absolute;
    left: 0;
    bottom: -3rem;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}
