@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    outline: none;
}
button, li {
    cursor: pointer;
}
i {
    transition: all 0.3s ease-in-out;
}

body {
    font-family: Georgia, serif;
}

.product-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2em;
    background-color: #ededed;
}

.product-card {
    position: relative;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-content {
    padding: 1.3em;
}

.product-name, 
.category {
    margin-bottom: 0.7rem;
}

.rating {
    color: #ffbe0a;
}

.card-1, 
.card-2, 
.card-3, 
.card-5, 
.card-10 {
    text-align: center;
}

.card-content-top {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.like, .cart {
    font-size: 1.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
}
.liked {
    color: #ff2424;
}
.cart {
    color: #ccc;
}
.cart-added {
    color: #42b3ff;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.card-3 .details {
    margin-top: 1rem;
}
.card-4 .details {
    justify-content: space-between;
}

.ribbon {
    position: absolute;
    top: 1em;
    left: 0;
    padding: 0.5em 1em 0.5em 0.8em;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #ff2e7e;
}
.card-3 .ribbon {
    border-bottom-right-radius: 2em;
}
.card-5 .ribbon, 
.card-10 .ribbon, 
.card-11 .ribbon {
    left: 1rem;
}

.discount {
    color: #ababab;
    font-weight: 400;
    text-decoration: line-through;
}

