@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a, li {
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 1s;
    cursor: pointer;
}
a:hover, li:hover {
    color: #000;
}

button, i, .logo {
    cursor: pointer;
    transition: all 0.5s;
}

h1 {
    color: #be7e02;
    font-size: 2.5rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.05em;
    -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.6);
    /* color: transparent;
    background: linear-gradient(180deg, #c08102, rgba(253, 235, 0, 0.5), #c08102);
    background: linear-gradient(180deg, rgba(253, 235, 0, 0.5), #c08102, rgba(253, 235, 0, 0.5));
    background-clip: text;
    -webkit-background-clip: text; */
}
b {
    font-style: italic;
}

h1, p {
    max-width: 600px;
    width: 100%;
}

p {
    margin: 0.35em 0;
}

img {
    max-width: 100%;
}

body {
    background: rgba(253, 235, 0, 0.4);
    background: linear-gradient(#c08102, rgba(253, 235, 0, 0.5), #c08102);
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1350px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1% 3%;
}

nav {
    position: relative;
    margin: auto auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeindown 1s ease-in-out;
}

.menu {
    width: 2rem;
    cursor: pointer;
}
.logo {
    width: min(20%, 4rem);
    filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.6));
}

.specifications {
    position: relative;
}
.specifications img {
    width: 50%;
    cursor: pointer;
}

.specifications ul {
    position: absolute;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    z-index: 2;
}
.specifications:hover ul {
    opacity: 1;
    visibility: visible;
}
.specifications ul::before {
    position: absolute;
    inset: 0 auto auto -0.5em;
    content: '';
    width: 0.1em;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    transition: all 0.5s;
}
.specifications:hover ul::before {
    opacity: 1;
    visibility: visible;
}
.specifications li {
    margin-bottom: 0.5em;
}
.specifications li:first-child {
    margin-top: 0.5em;
}

main {
    position: relative;
    min-height: 70vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
main::after {
    content: '';
    width: 100%;
    position: absolute;
    inset: 0;
    background-image: url('../img/logo-watermark.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 80%;
    opacity: 0.2;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    z-index: -1;
}


.description h1 {
    animation: fadeinleft 1.5s ease-in-out 0.5s backwards;
}
.description p {
    animation: fadeinleft 1.5s ease-in-out 1s backwards;
}
.explore, .preview {
    margin-top: 0.5em;
    padding: 0.2em 1.2em;
    color: #be7e02;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    border: 2px solid #c08102;
    border-radius: 0.5em;
    background: transparent;
    /* ====== v.1 ====== */
    /* color: #000;
    font-weight: normal;
    background: linear-gradient(#c08102, rgba(253, 235, 0, 0.5), #c08102); */
    /* ====== v.2 ====== */
    /* color: #f3c14a;
    background-color: rgba(0, 0, 0, 0.8); */
    /* ====== v.3 ====== */
    /* color: transparent;
    background: linear-gradient(rgba(253, 235, 0, 0.5), #c08102, rgba(253, 235, 0, 0.5));
    background-clip: text;
    -webkit-background-clip: text; */
    animation: fadeinup 1s ease-in-out backwards;
}
.explore {
    margin-right: 1.2em;
    animation-delay: 1.5s;
}
.preview {
    animation-delay: 1.8s;
}
.explore:hover, 
.preview:hover {
    transform: scale(1.1);
}
.explore:focus-visible, 
.preview:focus-visible {
    outline: 1px solid #111;
}

.hero {
    animation: fadeinright 1s ease-in-out 1s backwards;
}
.hero-img {
    width: 100%;
    max-width: 600px;
    min-height: min(70vw, 400px);
    max-height: 50vh;
    display: none;
    object-fit: contain;
}
.reverse {
    transform: rotateY(180deg);
}
.resized {
    width: 50%;
    max-height: 35vh;
    margin: auto;
}
.inverted {
    filter: hue-rotate(204deg) brightness(1.5) grayscale(0.3);
}
.inverted2 {
    filter: hue-rotate(19deg) brightness(1.4) grayscale(0.3);
}
.hero-img.active {
    display: block;
}

.switch-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5em;
}
.switch-buttons li {
    animation: fadein 0.5s ease-out backwards;
    animation-delay: calc(var(--i) * 0.2s + 2s);
}
.switch {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0 0.4em;
    color: #be7e02;
    font-size: 1.5rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    border: 2px solid #c08102;
    border-radius: 50%;
    background: transparent;
}
.switch:hover {
    transform: scale(1.1);
}
.switch:focus-visible {
    outline: 1px solid #111;
}

.info, .sci ul {
    width: fit-content;
    margin: 2em 0px;
    display: flex;
    align-items: center;
    column-gap: 2em;
    row-gap: 1em;
    flex-wrap: wrap;
}
.info {
    justify-content: space-between;
}
.info div {
    display: flex;
    align-items: center;
    column-gap: 1em;
    animation: fadein 0.5s ease-out backwards;
    animation-delay: calc(var(--i) * 0.2s + 2s);
}
.info p {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.sci {
    width: 100%;
    padding: 0 1em;
}
.sci ul {
    margin-left: auto;
}
.sci-link {
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0px;
    outline: none;
    border-radius: 50%;
    animation: fadein 0.5s ease-out backwards;
    animation-delay: calc(var(--i) * 0.2s + 2s);
}
.alt {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4),
    -2px -2px 2px rgba(255, 255, 255, 0.2);
}
.sci-link:hover {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4),
    inset -2px -2px 2px rgba(255, 255, 255, 0.4);
}
.alt:hover {
    box-shadow: none;
}
.sci-link:focus {
    box-shadow: none;
}
.sci-link:focus-visible {
    outline: 1px solid #000;
}
.sci i {
    color: #000;
    font-size: 1.5rem;
}

@keyframes fadeindown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
}
@keyframes fadeinup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes fadeinleft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
}
@keyframes fadeinright {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
}


/* ================================================== Loader ==================================================== */

.cover {
    position: relative;
    height: 100vh;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

.cover img {
    width: 33%;
    position: absolute;
    inset: 0 auto auto 0;
    object-fit: contain;
}

.neumorphic-loader-v22 {
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #111;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4),
    0px -5px 5px rgba(255, 255, 255, 0.1);
  }
  .neumorphic-loader-v22:before {
    content: "";
    position: absolute;
    inset: 25px;
    border: 2px solid #111;
    border-radius: 50%;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
    inset -2px -2px 5px rgba(255, 255, 255, 0.2);
    background-color: #111;
    background-image: url('../img/icons/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }
  
  .neumorphic-loader-v22 span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(-225deg, #f3c623 0%, #000 15%, #c08102 50%, #000 85%, #f3c623 100%);
    filter: blur(20px);
    animation: spinning 0.5s linear infinite;
  }
  
  @keyframes spinning {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  /* useless if the picture are with the same sizes */
  @media screen and (min-width: 1200px) {
    main > * {
        flex: 1;
    }
  }