@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    background-color: #0062be;
}

#pepsi {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 3em min(80px, 5em) 1.5em min(5vw, 5em);
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    background-color: #0062be;
}

header {
    width: 100%;
    gap: 2em;
    z-index: 3;
}

.logo {
    position: relative;
    max-width: 80px;
    transition: all 0.5s;
}
.logo:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(5vw, 2em);
    flex-wrap: wrap;
}

.link {
    position: relative;
    padding: 2px 4px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s;
}
.link::before {
    position: absolute;
    inset: auto auto 0 0;
    content: '';
    width: 100%;
    border: 1px solid #afd0f3;
    transform: scale(0);
    transition: all 0.5s;
}
.link:hover {
    color: #afd0f3;
}
.link:hover::before {
    transform: scale(1);
}

main {
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    padding-block: 3em;
}
.info-box {
    /* width: 100%; */
    flex: 1;
    min-width: 265px;
    max-width: 600px;
    margin-right: auto;
    color: #fff;
}
.info-box h1 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 3px;
    animation: movedown 3s ease-in-out backwards;
}
.info-box h1 span {
    display: block;
    font-size: 3.5rem;
}
@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
}
.info-box p {
    margin-block: 1em;
    animation: moveup 3s ease-in-out 3s backwards;
}
.info-box a {
    display: inline-block;
    padding: 0.5em 2em;
    color: #004999;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #fff;
    background-size: 100%;
    background-position: center center;
    border-radius: 40px;
    transition: all 0.5s;
    animation: moveup 3s ease-in-out 3s backwards;
}
.info-box a:hover {
    font-size: 1.1rem;
}
@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
}

.product-box {
    flex: 1;
    width: 600px;
    overflow: hidden;
}
.pepsi-can {
    max-width: 260px;
    display: block;
    margin: auto;
    animation: moveleft 3s ease-in 2s backwards;
}
@keyframes moveleft {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
}

.thumbs {
    display: flex;
    margin: 0px auto;
}
.thumbs li {
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
}
.thumbs li:hover .thumb {
    transform: translateY(-15px) scale(1.2);
}
.thumb {
    max-width: 40px;
    transition: all 0.5s;
}

.social-links-pepsi {
    position: absolute;
    inset: 50% 30px auto auto;
}
.sci-link {
    display: inline-block;
    margin: 5px 0px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
}
.sci-link:hover {
    transform: scale(1.3);
}


.red #pepsi {
    background-color: #e60c2c;
}
.red .link::before {
    border: 1px solid #f5a7b3;
}
.red .link:hover {
    color: #f5a7b3;
}

.black #pepsi {
    background-color: #1e1e1e;
}

@media screen and (max-width: 520px) {
    .links {
        flex-direction: column;
        flex-wrap: nowrap;
        position: fixed;
        inset: 0 0 auto 0;
        min-height: 100vh;
        padding: 3em 0;
        font-size: 10vw;
        white-space: nowrap;
        background-color: #fff;
    }
    .link {
        color: #0062be;
        color: #000;
    }
    .link::before {
        border: 1px solid #ed0223;
    }
    .link:hover {
        color: #ed0223;
    }
}
